Repository exercism/website-copy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/analyzer-comments, type/copy, type/mentor-notes

.github/labeler.yml:

type/analyzer-comments:
- automated-comments/**/*.md

type/copy:
- pages/**/*
- pages/*

type/mentor-bios:
- mentors/*/[0-9a-z].json

type/mentor-notes:
- tracks/*/exercises/*/mentoring.md

Move section on deleting account for clarity
  pages/terms_of_service.md
Labels: type/copy

Add mentoring note for parallel letter frequency
  tracks/rust/exercises/parallel-letter-frequency/mentoring.md
Labels: type/mentor-notes

typo and wording
  tracks/rust/exercises/parallel-letter-frequency/mentoring.md
Labels: type/mentor-notes

more typo
  tracks/rust/exercises/parallel-letter-frequency/mentoring.md
Labels: type/mentor-notes

Add my mentor infos
  mentors/python/l.json
Labels: none

Update v.json (#1314)
  mentors/javascript/v.json
Labels: none

Remove unused import & fix typo
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

Update mentors/c/s.json
  mentors/c/s.json
Labels: none

Update mentors/dart/g.json with guitoof bio
  mentors/dart/g.json
Labels: none

Removed leading spaces in lines 2,9 and 25
  mentors/c/s.json
Labels: none

Add mentor bio for setn4me (#1308)
  mentors/c/s.json
Labels: none

Update incorrect escaping.
  automated-comments/javascript/resistor-color-duo/commentary/must_optimise_helper.md
Labels: type/analyzer-comments

Fix incorrect escaping.
  automated-comments/javascript/resistor-color-duo/commentary/must_declare_function.md
Labels: type/analyzer-comments

Update how_do_mentor_queues_work.md
  pages/how_do_mentor_queues_work.md
Labels: type/copy

add mentor bio
  mentors/javascript/a.json
Labels: none

Update how_do_mentor_queues_work.md (#1322)
  pages/how_do_mentor_queues_work.md
Labels: type/copy

add mentoring notes for rust-minesweeper
  tracks/rust/exercises/minesweeper/mentoring.md
Labels: type/mentor-notes

Remove unused import & fix typo (#1320)
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

Terminology change from independent mode
  pages/changelog.md
Labels: type/copy

period not needed for heading
  pages/changelog.md
Labels: type/copy

Update f.json
  mentors/haskell/f.json
Labels: none

Adds explicit example of an alluded refactor.
  tracks/haskell/exercises/leap/mentoring.md
Labels: type/mentor-notes

typo
  tracks/rust/exercises/minesweeper/mentoring.md
Labels: type/mentor-notes

Add mentor notes for resistor-color
  automated-comments/javascript/resistor-color/commentary/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/commentary/signature_not_optimal.md
  automated-comments/javascript/resistor-color/commentary/use_array_comprehensions.md
  automated-comments/javascript/resistor-color/commentary/use_implicit_includes.md
  automated-comments/javascript/resistor-color/commentary/use_index_of.md
  automated-comments/javascript/resistor-color/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/export_inline.md
  automated-comments/javascript/resistor-color/use_array_comprehensions.md
  automated-comments/javascript/resistor-color/use_implicit_includes.md
  automated-comments/javascript/resistor-color/use_index_of.md
Labels: type/analyzer-comments

Update resistor-color-duo notes
  automated-comments/javascript/resistor-color-duo/commentary/limit_number_of_colors.md
  automated-comments/javascript/resistor-color-duo/commentary/must_declare_function.md
  automated-comments/javascript/resistor-color-duo/commentary/must_optimise_helper.md
  automated-comments/javascript/resistor-color-duo/commentary/must_use_a_helper.md
  automated-comments/javascript/resistor-color-duo/commentary/signature_not_optimal.md
  automated-comments/javascript/resistor-color-duo/destructuring_in_parameter.md
Labels: type/analyzer-comments

Terminology change from independent mode (#1326)
  pages/changelog.md
Labels: type/copy

Adds explicit example of an alluded refactor.
  tracks/haskell/exercises/leap/mentoring.md
Labels: type/mentor-notes

Fix incorrect edit to Changelog.
  pages/changelog.md
Labels: type/copy

javascript/resistor-color: Automated comments (#1329)
  automated-comments/javascript/resistor-color-duo/commentary/limit_number_of_colors.md
  automated-comments/javascript/resistor-color-duo/commentary/must_declare_function.md
  automated-comments/javascript/resistor-color-duo/commentary/must_optimise_helper.md
  automated-comments/javascript/resistor-color-duo/commentary/must_use_a_helper.md
  automated-comments/javascript/resistor-color-duo/destructuring_in_parameter.md
  automated-comments/javascript/resistor-color/commentary/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/commentary/signature_not_optimal.md
  automated-comments/javascript/resistor-color/commentary/use_array_comprehensions.md
  automated-comments/javascript/resistor-color/commentary/use_implicit_includes.md
  automated-comments/javascript/resistor-color/commentary/use_index_of.md
  automated-comments/javascript/resistor-color/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/export_inline.md
  automated-comments/javascript/resistor-color/use_array_comprehensions.md
  automated-comments/javascript/resistor-color/use_implicit_includes.md
  automated-comments/javascript/resistor-color/use_index_of.md
Labels: type/analyzer-comments

Update 'sshine' presence on tracks
  mentors/haskell/s.json
  mentors/ocaml/s.json
  mentors/sml/s.json
Labels: none

javascript/resistor-color-duo: add missing template
  automated-comments/javascript/resistor-color-duo/commentary/expected_different_call.md
Labels: type/analyzer-comments

Update 'sshine' presence on tracks (#1331)
  mentors/haskell/s.json
  mentors/ocaml/s.json
  mentors/sml/s.json
Labels: none

Update expected_different_call.md
  automated-comments/javascript/resistor-color-duo/commentary/expected_different_call.md
Labels: type/analyzer-comments

Move note to be above warning
  automated-comments/javascript/resistor-color-duo/commentary/expected_different_call.md
Labels: type/analyzer-comments

Add Kotlin mentor boi for eparovyshnaia
  mentors/kotlin/e.json
Labels: none

Update e.json
  mentors/kotlin/e.json
Labels: none

review changes
  tracks/rust/exercises/minesweeper/mentoring.md
Labels: type/mentor-notes

Create error_captured_no_source.md
  automated-comments/javascript/general/error_captured_no_source.md
Labels: type/analyzer-comments

Remove mentor
  mentors/php/k.json
Labels: none

Add mentoring notes for the elisp two-fer exercise (#1271)
  tracks/elisp/exercises/two-fer/mentoring.md
Labels: type/mentor-notes
