Repository exercism/website-copy, changes with the labels that .github/labeler.yml gives for each.
All labels: type/analyzer-comments, type/copy, type/mentor-notes

Add mentoring notes for elixir/bank-account
  tracks/elixir/exercises/bank-account/mentoring.md
Labels: type/mentor-notes

fix spurious benchmark results due to rayon being spawning global thread pool in advance
  tracks/rust/exercises/parallel-letter-frequency/mentoring.md
Labels: type/mentor-notes

Fix broken mailto
  pages/mentoring_guide.md
Labels: type/copy

Add mentor bio for quan-nh
  mentors/clojure/q.json
Labels: none

Add a spawn/send/receive example
  tracks/elixir/exercises/bank-account/mentoring.md
Labels: type/mentor-notes

Update mentor notes for rust/macros
  tracks/rust/exercises/macros/mentoring.md
Labels: type/mentor-notes

spelling: normalize & arbitrary
  automated-comments/javascript/resistor-color/commentary/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/dont_normalise_inputs.md
Labels: type/analyzer-comments

Update parse_error.md
  automated-comments/javascript/general/parse_error.md
Labels: type/analyzer-comments

spelling: normalize & arbitrary (#1342)
  automated-comments/javascript/resistor-color/commentary/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/dont_normalise_inputs.md
Labels: type/analyzer-comments

elixir - general, solution, two-fer remarks
  automated-comments/elixir/general/file_not_found.md
  automated-comments/elixir/general/parsing_error.md
  automated-comments/elixir/solution/raise_fn_clause_error.md
  automated-comments/elixir/solution/use_module_doc.md
  automated-comments/elixir/solution/use_specification.md
  automated-comments/elixir/two-fer/use_default_param.md
  automated-comments/elixir/two-fer/use_guards.md
  automated-comments/elixir/two-fer/use_string_interpolation.md
Labels: type/analyzer-comments

parsing_error.md changes based on review
  automated-comments/elixir/general/parsing_error.md
Labels: type/analyzer-comments

Update automated-comments/elixir/solution/raise_fn_clause_error.md
  automated-comments/elixir/solution/raise_fn_clause_error.md
Labels: type/analyzer-comments

Update automated-comments/elixir/solution/use_module_doc.md
  automated-comments/elixir/solution/use_module_doc.md
Labels: type/analyzer-comments

Update automated-comments/elixir/solution/use_module_doc.md
  automated-comments/elixir/solution/use_module_doc.md
Labels: type/analyzer-comments

Update automated-comments/elixir/solution/use_specification.md
  automated-comments/elixir/solution/use_specification.md
Labels: type/analyzer-comments

Update automated-comments/elixir/two-fer/use_default_param.md
  automated-comments/elixir/two-fer/use_default_param.md
Labels: type/analyzer-comments

more review changes
  automated-comments/elixir/solution/raise_fn_clause_error.md
  automated-comments/elixir/two-fer/use_default_param.md
  automated-comments/elixir/two-fer/use_guards.md
Labels: type/analyzer-comments

reword type specification
  automated-comments/elixir/solution/use_specification.md
Labels: type/analyzer-comments

remove trailing whitespace
  tracks/ruby/exercises/luhn/mentoring.md
Labels: type/mentor-notes

Ducktyping mentioned, but monkey patching intended
  tracks/ruby/exercises/luhn/mentoring.md
Labels: type/mentor-notes

Update walkthrough
  walkthrough/index.html
Labels: none

Space after comma in argument list
  automated-comments/ruby/general/explicit_return.md
Labels: type/analyzer-comments

More efficient and straightforward reversing of Dict
  tracks/python/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

Address comments by @F3PiX
  tracks/swift/exercises/leap/mentoring.md
Labels: type/mentor-notes

.github/labeler.yml:

type/analyzer-comments:
- automated-comments/**/*.md

type/copy:
- pages/**/*
- pages/*

type/mentor-bios:
- mentors/*/[0-9a-z].json

type/mentor-notes:
- tracks/*/exercises/*/mentoring.md
