Repository exercism/website-copy, pull requests merged in 2018-12, with the labels that each got.

#645 New Clojure Mentor: Jarred Humphrey
  mentors/clojure/j.json
Labels: type/mentor-bios

#640 csharp/leap: Improve mentor notes
  tracks/csharp/exercises/leap/mentoring.md
Labels: type/mentor-notes

#642 typescript/leap: Add mentor notes
  tracks/typescript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#649 Improve java mentoring notes for TwoFer
  tracks/java/exercises/twofer/mentoring.md
Labels: type/mentor-notes

#652 Add liftedkilt bio
  mentors/go/l.json
Labels: type/mentor-bios

#656 C/Isogram update mentoring notes
  tracks/c/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#657 Update g.json
  mentors/kotlin/g.json
Labels: type/mentor-bios

#633 Ruby/HighScores: New Notes Format
  tracks/ruby/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#660 Add mentor details of Manuri
  mentors/ballerina/m.json
Labels: type/mentor-bios

#663 Update mentor bio - Manuri
  mentors/ballerina/m.json
Labels: type/mentor-bios

#667 Ruby/HighScores: improvements
  tracks/ruby/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#671 Update h.json
  mentors/javascript/h.json
Labels: type/mentor-bios

#672 Add mentor bio for suzaku
  mentors/python/s.json
Labels: type/mentor-bios

#674 add instruction for [ and ] chars in JSON bio files
  mentors/README.md
Labels: type/copy

#618 add rajeshpg bio
  mentors/scala/r.json
Labels: type/mentor-bios

#676 Added Andrea Gazzarini bio
  mentors/java/a.json
Labels: type/mentor-bios

#677 Use SortedDictionary to guarantee order
  tracks/csharp/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#678 Added mentor bio for thedarkula.
  mentors/rust/t.json
Labels: type/mentor-bios
