Repository exercism/website-copy, pull requests merged in 2018-11, with the labels that each got.

#539 include perf consideration for concat vs fmt
  tracks/go/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#552 Add mentor notes for ruby/matrix
  tracks/ruby/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#545 Add mentor notes for rust/leap
  tracks/rust/exercises/leap/mentoring.md
Labels: type/mentor-notes

#544 Add mentor notes for java/binary-search
  tracks/java/exercises/binary-search/mentoring.md
Labels: type/mentor-notes

#542 Update mentor notes for python/allergies
  tracks/python/exercises/allergies/mentoring.md
Labels: type/mentor-notes

#543 Add mentor notes for python/bob
  tracks/python/exercises/bob/mentoring.md
Labels: type/mentor-notes

#525 Bash Track, Grains, Add mentoring notes.
  tracks/bash/exercises/grains/mentoring.md
Labels: type/mentor-notes

#549 Add mentor bio for ruby track
  mentors/ruby/d.json
Labels: type/mentor-bios

#557 Adding Sierisimo to Kotlin mentors
  mentors/kotlin/s.json
Labels: type/mentor-bios

#559 Go: Add mentor bio for bitfield
  mentors/go/b.json
Labels: type/mentor-bios

#546 Ruby: Word Count - Enumerable doesn't have an each method.
  tracks/ruby/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#572 Mentor Notes : Ruby - Matrix: White space and spelling
  tracks/ruby/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#580 Corrected link in talking point about order of operations.
  tracks/csharp/exercises/leap/mentoring.md
Labels: type/mentor-notes

#583 Add bio for mentor coltonehrman
  mentors/javascript/c.json
Labels: type/mentor-bios

#581 Add mentor bio for Makan
  mentors/cpp/m.json
  mentors/javascript/m.json
  mentors/swift/m.json
Labels: type/mentor-bios

#589 add mentor: dysolution
  mentors/go/d.json
Labels: type/mentor-bios

#555 Remove '* `scan` is faster than `split`'
  tracks/ruby/exercises/acronym/mentoring.md
Labels: type/mentor-notes

#597 add Lynn Langit as Ballerina mentor
  mentors/ballerina/l.json
Labels: type/mentor-notes

#599 Add Java bio
  mentors/java/a.json
Labels: type/mentor-bios

#602 Add my bio to the Clojure track
  mentors/clojure/d.json
Labels: type/mentor-bios

#603 added marzi bio :)
  mentors/javascript/m.json
Labels: type/mentor-bios

#594 javascript/two-fer: Add mentor notes
  tracks/javascript/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#596 javascript/rna-transcription: Add mentor notes
  tracks/javascript/exercises/rna-transcription/mentoring.md
Labels: type/mentor-notes

#565 Add mentor notes for JavaScript leap exercise
  tracks/javascript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#577 go/scrabble: mention exalysis mentoring tool
  tracks/go/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#576 go/raindrops: mention exalysis mentoring tool
  tracks/go/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#601 C: add LarryRuane BIO l.json
  mentors/c/l.json
Labels: type/mentor-bios

#593 Submit AnuchitO bio to be mentor.
  mentors/go/a.json
Labels: type/mentor-bios

#612 go/raindrops: change to h3
  tracks/go/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#611 go/scrabble: Change to H3
  tracks/go/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#614 getting started mentoring guide: Update texts with links to mentor notes
  pages/mentoring_getting_started.md
Labels: type/copy

#613 Update link to Mentor Notes repo
  pages/mentoring_guide.md
Labels: type/copy

#617 Add bio for rfilipo, Perl5 Mentor
  mentors/perl5/r.json
Labels: type/mentor-bios

#629 Update walkthrough
  walkthrough/index.html
Labels: type/copy

#631 Add Leo Benkel bio
  mentors/scala/b.json
Labels: type/mentor-bios

#628 Add mentor bio for ldclakmal
  mentors/ballerina/l.json
Labels: type/mentor-bios

#627 Rust: add mentoring notes for atbash-cipher
  tracks/rust/exercises/atbash-cipher/mentoring.md
Labels: type/mentor-notes

#620 Rust: add mentoring notes for space-age
  tracks/rust/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#623 Rust: add mentoring notes for macros
  tracks/rust/exercises/macros/mentoring.md
Labels: type/mentor-notes

#619 Rust: add mentoring notes for saddle-points
  tracks/rust/exercises/saddle-points/mentoring.md
Labels: type/mentor-notes

#608 javascript/hamming: Add mentor notes
  tracks/javascript/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#616 Mentor notes for isogram for C track
  tracks/c/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#553 Kindergarten garden mentoring notes for Python
  tracks/python/exercises/kindergarten-garden/mentoring.md
Labels: type/mentor-notes

#574 go/twofer: mention exalysis mentoring tool
  tracks/go/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#635 Scala: Update bio for leobenkel, l.json
  mentors/scala/l.json
Labels: type/mentor-bios

#634 remove wrong bio entry for Scala
  mentors/scala/b.json
Labels: type/mentor-bios

#615 Bash: Armstrong Numbers: Create mentoring notes
  tracks/bash/armstrong-numbers/mentoring.md
Labels: type/mentor-notes

#582 rust/leap: Fixed operator typo
  tracks/rust/exercises/leap/mentoring.md
Labels: type/mentor-notes
