Repository exercism/website-copy, pull requests merged in 2019-12, with the labels that each got.

#1387 Add using libc as a reasonable solution
  tracks/x86-64-assembly/exercises/two-fer/mentoring.md
Labels: track/x86-64-assembly, type/mentor-notes

#1405 updates wording on leap year percentages
  tracks/csharp/exercises/leap/mentoring.md
  tracks/python/exercises/leap/mentoring.md
  tracks/r/exercises/leap/mentoring.md
  tracks/ruby/exercises/leap/mentoring.md
  tracks/rust/exercises/leap/mentoring.md
  tracks/typescript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#1388 Fixing module name for consistency to problem file
  tracks/elixir/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#1399 Ruby acronym mentor notes idiomatic variable names
  tracks/ruby/exercises/acronym/mentoring.md
Labels: track/ruby, type/mentor-notes

#1378 Update mentoring notes in crystal/gigasecond
  tracks/crystal/exercises/gigasecond/mentoring.md
Labels: track/crystal, type/mentor-notes

#1373 Update mentoring notes for elixir/roman-numerals
  tracks/elixir/exercises/roman-numerals/mentoring.md
Labels: track/elixir, type/mentor-notes

#1358 javascript/robot-name: Clarify "unpredictable" in problem requirements.
  tracks/javascript/exercises/robot-name/mentoring.md
Labels: track/javascript, type/mentor-notes

#1337 Add mentoring notes for elixir/bank-account
  tracks/elixir/exercises/bank-account/mentoring.md
Labels: track/elixir, type/mentor-notes

#1408 javascript/gigasecond: Correctly escape link
  automated-comments/javascript/gigasecond/prefer_top_level_constant.md
Labels: track/javascript, type/analyzer-comments

#1379 Ruby Acronym mentor note regexp addition
  tracks/ruby/exercises/acronym/mentoring.md
Labels: track/ruby, type/mentor-notes

#1409 javascript/all-your-base: initial mentor notes
  tracks/javascript/exercises/all-your-base/mentoring.md
Labels: track/javascript, type/mentor-notes

#1423 Ruby resister-color-duo mentoring: style guide Doc
  tracks/ruby/exercises/resistor-color-duo/mentoring.md
Labels: track/ruby, type/mentor-notes

#1415 Add Claudia Beresford mentor bio
  mentors/go/c.json
Labels: track/go, type/mentor-bios

#1428 remove suggestion to use parseInt with Array.map
  tracks/typescript/exercises/matrix/mentoring.md
Labels: track/typescript, type/mentor-notes
