Repository exercism/website-copy, pull requests merged in 2019-02, with the labels that each got.

#764 javascript mentor biogram for pablo83
  mentors/javascript/p.json
Labels: type/mentor-bios

#766 Bio for Robert Postill
  mentors/racket/r.json
Labels: type/mentor-bios

#772 add mentor bio for kellsaro (track-ruby)
  mentors/ruby/k.json
Labels: type/mentor-bios

#771 add mentor bio for kellsaro (track-java)
  mentors/java/k.json
Labels: type/mentor-bios

#770 Elixir: Add mentor bio for kellsaro
  mentors/elixir/k.json
Labels: type/mentor-bios

#769 [R] Add sum-of-multiples mentor notes
  tracks/r/exercises/sum-of-multiples/mentoring.md
Labels: type/mentor-notes

#754 [Java Two-Fer] Improve mentor notes
  tracks/java/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#768 Python: isogram/mentoring.md
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#767 Create Python/hamming/mentoring.md
  tracks/python/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#756 javascript/bob: minimal mentor notes
  tracks/javascript/exercises/bob/mentoring.md
Labels: type/mentor-notes

#777 Simplify ruby/scrabble-score
  tracks/ruby/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#779 mentors/vimscript: add mhinz
  mentors/vimscript/m.json
Labels: type/mentor-bios

#776 [Java/Hamming] Improve mentor notes
  tracks/java/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#762 add mentor bio for son1112
  mentors/ruby/s.json
Labels: type/mentor-bios

#781 javascript/gigasecond: improve notes
  tracks/javascript/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#782 ruby/scrabble-score: remove unneeded parentheses
  tracks/ruby/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#675 mentoring_workflow.md: add blurb about dual purpose button
  pages/mentoring_workflow.md
Labels: type/copy

#785 [Java/Scrabble-score] Add mentoring notes
  tracks/java/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#786 Ruby/Series: Fix incorrect brackets
  tracks/ruby/exercises/series/mentoring.md
Labels: type/mentor-notes

#783 Ruby/HighScores Update with latest changes
  tracks/ruby/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#789 $subject
  mentors/go/b.json
Labels: type/mentor-bios

#787 add mentor bio for hemikak
  mentors/ballerina/h.json
Labels: type/mentor-bios

#780 javascript/leap: round 2 note improvements
  tracks/javascript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#796 Add hagatorn to f# mentors
  mentors/fsharp/h.json
Labels: type/mentor-bios

#800 Adding Jumpi96 profile
  mentors/elixir/j.json
Labels: type/mentor-bios

#798 Add mentor bio for rrampage
  mentors/python/r.json
Labels: type/mentor-bios

#774 Create Python/acronym/mentoring.md
  tracks/python/exercises/acronym/mentoring.md
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#799 [Java Two-Fer] Improve mentor notes
  tracks/java/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#805 Update c.json
  mentors/elixir/c.json
Labels: type/mentor-bios

#812 Add mentor bio for loradd
  mentors/java/l.json
Labels: type/mentor-bios

#813 java/scrabble-score: Add another solution
  tracks/java/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#814 Add bio for jonhoo
  mentors/rust/j.json
Labels: type/mentor-bios

#792 Fixed Bios that did not pass scrutiny of revised Rakefile
  mentors/ballerina/h.json
  mentors/ballerina/m.json
  mentors/cpp/c.json
  mentors/cpp/p.json
  mentors/csharp/n.json
  mentors/elixir/f.json
  mentors/elm/n.json
  mentors/haskell/s.json
  mentors/java/s.json
  mentors/javascript/a.json
  mentors/javascript/f.json
  mentors/javascript/s.json
  mentors/javascript/t.json
  mentors/ocaml/s.json
  mentors/ruby/r.json
  mentors/rust/t.json
  mentors/sml/s.json
  mentors/typescript/t.json
Labels: type/mentor-bios

#819 Added mentor profile for julioleitao in Elixir
  mentors/elixir/j.json
Labels: type/mentor-bios

#815 csharp/resistor-color: add mentoring guidance
  tracks/csharp/exercises/resistor-color/mentoring.md
Labels: type/mentor-notes
