Repository exercism/website-copy, pull requests merged in 2019-04, with the labels that each got.

#908 Add 0Thomas to Python Mentors
  mentors/python/0.json
Labels: type/mentor-bios

#909 added 'nav-mike' as ruby mentor
  mentors/ruby/n.json
Labels: type/mentor-bios

#883 ruby/raindrops: tweak optimal solution for raindrops
  tracks/ruby/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#915 scala: Add hamming mentoring notes
  tracks/scala/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#912 mentors/README.md: Add comment about whitespace
  mentors/README.md
Labels: type/copy

#914 scala: Add accumulate mentoring notes
  tracks/scala/exercises/accumulate/mentoring.md
Labels: type/mentor-notes

#889 python/hamming: add an example using sum()
  tracks/python/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#862 python: Guidlines for Grading Raindrops
  tracks/python/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#880 r: Add hamming mentor notes
  tracks/r/hamming/mentoring.md
Labels: type/mentor-notes

#911 Rust: add mentoring notes for gigasecond
  tracks/rust/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#910 Rust: add mentoring notes for reverse-string
  tracks/rust/exercises/reverse-string/mentoring.md
Labels: type/mentor-notes

#916 Add wfslithtaivs as a mentor
  mentors/python/w.json
Labels: type/mentor-bios

#907 Ruby: Raindrops - reasonable with each_with_object
  tracks/ruby/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#919 scala: add mentoring notes for etl
  tracks/scala/exercises/etl/mentoring.md
Labels: type/mentor-notes

#921 csharp/two-fer: update to latest spec
  tracks/csharp/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#922 python/twelve-days
  tracks/python/exercises/twelve-days/mentoring.md
Labels: type/mentor-notes

#923 python/clock: Mentoring document for clock problem
  tracks/python/exercises/clock/mentoring.md
Labels: type/mentor-notes

#920 scala: add mentoring notes for perfect-numbers
  tracks/scala/exercises/perfect-numbers/mentoring.md
Labels: type/mentor-notes

#925 ruby/resistor-colors: Rename to resistor-color-duo
  tracks/ruby/exercises/resistor-color-duo/mentoring.md
Labels: type/mentor-notes

#929 Add mentor info for maly7
  mentors/java/m.json
Labels: type/mentor-bios

#931 Update r.json
  mentors/php/r.json
Labels: type/mentor-bios

#927 Add strategy document
  pages/roadmap.md
  pages/strategy.md
Labels: type/copy

#937 Commas, a/an, and other small changes
  pages/strategy.md
Labels: type/copy

#936 restructing to restructuring
  pages/strategy.md
Labels: type/copy

#901 javascript/resistor-color-duo: add minimal mentor notes
  tracks/javascript/exercises/resistor-color-duo/mentoring.md
Labels: type/mentor-notes

#933 python/clock/mentoring.md More problems
  tracks/python/exercises/clock/mentoring.md
Labels: type/mentor-notes

#939 Add bash mentor, Isaac
  mentors/bash/i.json
Labels: type/mentor-bios

#926 python/two-fer: Variadic Argument List
  tracks/python/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#917 python/high-scores: Minor Change to 3rd possible Solution.
  tracks/python/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#946 Remove aammff from Haskell mentors.
  mentors/haskell/a.json
Labels: type/mentor-bios

#944 python/hamming: Include a recursive example
  tracks/python/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#942 ruby/scrabble-score: Remove trailing whitespace
  tracks/ruby/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#945 python/twelve-days: Fix typo.
  tracks/python/exercises/twelve-days/mentoring.md
Labels: type/mentor-notes

#951 I added myself as mentor
  mentors/csharp/w.json
Labels: type/mentor-bios

#955 Update faqs.md
  pages/faqs.md
Labels: type/copy

#954 Elixir: Update `link_name` from Sascha Wolf
  mentors/elixir/z.json
Labels: type/mentor-bios

#957 Update a.json
  mentors/dart/a.json
Labels: type/mentor-bios

#959 Update mentor taglines for thelostlambda
  mentors/common-lisp/t.json
  mentors/haskell/t.json
  mentors/rust/t.json
Labels: type/mentor-bios

#960 Update m.json
  mentors/pharo-smalltalk/m.json
Labels: type/mentor-bios

#952 Rust Clock mentoring notes
  tracks/rust/exercises/clock/mentoring.md
Labels: type/mentor-notes
