Repository exercism/website-copy, pull requests merged in 2019-08, with the labels that each got.

#1206 python/raindrops: Simplify notes for Track Anatomy re-order
  tracks/python/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#1168 Add mentoring notes for cpp/circular-buffer
  tracks/cpp/exercises/circular-buffer/mentoring.md
Labels: type/mentor-notes

#1195 Clarify mutation is allowed in high-scores
  tracks/python/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#1202 javascript/linked-list: fix prev/next mix-up
  tracks/javascript/exercises/linked-list/mentoring.md
Labels: type/mentor-notes

#1204 Add mentor notes for csharp track: high scores
  tracks/csharp/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#1200 rust: remove smileys from advice
  tracks/rust/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1171 Add comments when solving two-fer with string interpolation
  automated-comments/ruby/two-fer/string_interpolation.md
Labels: type/analyzer-comments

#1228 Add mentor bio for ozanmuyes
  mentors/javascript/o.json
Labels: type/mentor-bios

#1233 Rust: Make automatic suggestion for reverse-string more precise
  automated-comments/rust/reverse-string/suggest_doing_bonus_test.md
Labels: type/analyzer-comments

#1230 csharp/two-fer: make single string automated comment more generic
  automated-comments/csharp/two-fer/use_single_formatted_string_not_multiple.md
Labels: type/analyzer-comments

#1237 csharp/general: missing class comment
  automated-comments/csharp/general/missing_class.md
Labels: type/analyzer-comments

#1235 csharp/general: missing method comment
  automated-comments/csharp/general/missing_method.md
Labels: type/analyzer-comments

#1236 csharp/general: add invalid signature comment
  automated-comments/csharp/general/invalid_method_signature.md
Labels: type/analyzer-comments

#1222 go/twofer: comments for disapprove
  automated-comments/go/two-fer/find_minimal_conditional.md
  automated-comments/go/two-fer/missing_share_with_function.md
  automated-comments/go/two-fer/replace_stub_comments.md
  automated-comments/go/two-fer/sharewith_signature_changed.md
  automated-comments/go/two-fer/strings_builder_used_for_concatenation.md
  automated-comments/go/two-fer/strings_join_used_for_concatenation.md
  automated-comments/go/two-fer/work_with_any_provided_name.md
Labels: type/analyzer-comments

#1245 Add mentor bio for jeffreybian
  mentors/python/j.json
Labels: type/mentor-bios

#1246 Add bio Dagmar Timmreck
  mentors/javascript/d.json
Labels: type/mentor-bios

#1120 automated-comments: add initial disapprove comments for java/two-fer
  automated-comments/java/general/avoid_hard_coded_test_cases.md
  automated-comments/java/general/failed_parse.md
  automated-comments/java/general/file_not_found.md
  automated-comments/java/general/use_proper_class_name.md
  automated-comments/java/general/use_proper_method_name.md
  automated-comments/java/two-fer/avoid_string_format.md
  automated-comments/java/two-fer/use_conditional_logic.md
  automated-comments/java/two-fer/use_one_return.md
  automated-comments/java/two-fer/use_ternary_operator.md
Labels: type/analyzer-comments

#1251 Add mentor bio for goalaleo
  mentors/ruby/g.json
Labels: type/mentor-bios

#1227 Add leap analyzer disapprove comments
  automated-comments/scala/leap/no_conditionals.md
  automated-comments/scala/leap/no_date_api_call.md
  automated-comments/scala/leap/no_loops.md
Labels: type/analyzer-comments

#1217 javascript/matrix: fix parseInt suggestion
  tracks/javascript/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#1214 Add rna-transcription mentoring to typescript
  tracks/typescript/exercises/rna-transcription/mentoring.md
Labels: type/mentor-notes

#1254 javascript/simple-cipher: Restore consistency with the spec
  tracks/javascript/exercises/simple-cipher/mentoring.md
Labels: type/mentor-notes

#1253 Java: two-fer mentoring notes to discourage String.format
  tracks/java/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#1232 Adding a clause about deleted accounts
  pages/terms_of_service.md
Labels: type/copy

#1262 Automated comments for Java hamming exercise
  automated-comments/java/general/constructor_too_long.md
  automated-comments/java/general/method_too_long.md
  automated-comments/java/hamming/avoid_character_literals.md
  automated-comments/java/hamming/calculate_distance_in_constructor.md
  automated-comments/java/hamming/must_calculate_hamming_distance.md
  automated-comments/java/hamming/must_throw_in_constructor.md
  automated-comments/java/hamming/must_use_conditional_logic_in_constructor.md
  automated-comments/java/hamming/must_use_constructor.md
  automated-comments/java/hamming/must_use_string_char_at_or_code_point_at.md
  automated-comments/java/hamming/should_use_stream_filter_and_count.md
  automated-comments/java/hamming/should_use_string_is_empty.md
Labels: type/analyzer-comments
