Repository exercism/website-copy, pull requests merged in 2019-11, with the labels that each got.

#1369 Add bisect to talking points
  tracks/python/exercises/binary-search/mentoring.md
Labels: track/python, type/mentor-notes

#1371 Update cli.md
  pages/cli.md
Labels: type/copy

#1372 kotlin/secret-handshake: Improve reasonable solution
  tracks/kotlin/exercises/secret-handshake/mentoring.md
Labels: track/kotlin, type/mentor-notes

#1267 Add mentoring notes for the Leap exercise on the Elm track
  tracks/elm/exercises/leap/mentoring.md
Labels: track/elm, type/mentor-notes

#1348 Periodic walkthrough update
  walkthrough/index.html
Labels: type/copy

#1382 Add myself as Python mentor
  mentors/python/d.json
Labels: track/python, type/mentor-bios

#1380 Add tvirolai
  mentors/clojure/t.json
Labels: track/clojure, type/mentor-bios

#1384 Add mentor bio for prateekkumarweb
  mentors/rust/p.json
Labels: track/rust, type/mentor-bios
