Repository exercism/website-copy, pull requests merged in 2019-07, with the labels that each got.

#1009 go-analyzer comments for twofer and hamming (approve_with_comment)
  automated-comments/go/general/custom_error_created.md
  automated-comments/go/general/fmt_errorf_without_parameter.md
  automated-comments/go/general/length_smaller_zero_impossible.md
  automated-comments/go/general/omitted_error_message.md
  automated-comments/go/general/remove_extra_variable.md
  automated-comments/go/general/section_about_comments.md
  automated-comments/go/general/strings_trim_space_used.md
  automated-comments/go/general/taking_length_of_string_to_check_empty.md
  automated-comments/go/general/use_variable_assignment.md
  automated-comments/go/hamming/comparing_bytes.md
  automated-comments/go/hamming/declare_variable_when_needed_not_start_of_function.md
  automated-comments/go/hamming/defining_empty_error.md
  automated-comments/go/hamming/error_msg_not_capitalized_nor_punctuated.md
  automated-comments/go/hamming/extra_if_strings_empty.md
  automated-comments/go/hamming/hamming_is_case_sensitive.md
  automated-comments/go/hamming/invert_if_for_happy_path_on_left.md
  automated-comments/go/hamming/lossy_rune_to_byte_conversion.md
  automated-comments/go/hamming/minimize_slice_of_rune_conversions.md
  automated-comments/go/hamming/mixture_of_runes_and_bytes.md
  automated-comments/go/hamming/return_on_error_case.md
  automated-comments/go/hamming/rune_index_used_with_bytes.md
  automated-comments/go/hamming/rune_or_byte_to_string_conversion.md
  automated-comments/go/hamming/use_increase_operator.md
  automated-comments/go/hamming/use_of_naked_returns.md
  automated-comments/go/hamming/use_zero_values_on_error_return.md
  automated-comments/go/two-fer/extra_name_variable_created.md
  automated-comments/go/two-fer/missing_function_comment.md
  automated-comments/go/two-fer/missing_package_comment.md
  automated-comments/go/two-fer/plus_used_for_concatenation.md
  automated-comments/go/two-fer/use_fmt_placeholder_for_string.md
  automated-comments/go/two-fer/wrong_function_comment.md
  automated-comments/go/two-fer/wrong_package_comment.md
Labels: type/analyzer-comments

#1133 Update comments with better laid out examples
  automated-comments/ruby/two-fer/kernel_format.md
  automated-comments/ruby/two-fer/string_building.md
  automated-comments/ruby/two-fer/string_concatenation.md
  automated-comments/ruby/two-fer/string_format.md
Labels: type/analyzer-comments

#1128 csharp/general: add automated mentoring notes
  automated-comments/csharp/general/convert_field_to_const.md
  automated-comments/csharp/general/convert_variable_to_const.md
  automated-comments/csharp/general/do_not_assign_and_return.md
  automated-comments/csharp/general/do_not_use_nested_if_statement.md
  automated-comments/csharp/general/do_not_write_to_console.md
  automated-comments/csharp/general/has_compile_errors.md
  automated-comments/csharp/general/has_main_method.md
  automated-comments/csharp/general/remove_throw_not_implemented_exception.md
  automated-comments/csharp/general/use_expression_bodied_member.md
  automated-comments/csharp/general/use_null_coalescing_operator_not_null_check.md
  automated-comments/csharp/general/use_private_visibility.md
  automated-comments/csharp/general/use_string_interpolation_not_string_concatenation.md
  automated-comments/csharp/general/use_string_interpolation_not_string_format.md
Labels: type/analyzer-comments

#1127 csharp/two-fer: add automated mentoring notes
  automated-comments/csharp/two-fer/invalid_default_value.md
  automated-comments/csharp/two-fer/use_default_value.md
  automated-comments/csharp/two-fer/use_default_value_not_overloads.md
  automated-comments/csharp/two-fer/use_null_coalescing_operator_not_is_null_or_empty.md
  automated-comments/csharp/two-fer/use_null_coalescing_operator_not_is_null_or_white_space.md
  automated-comments/csharp/two-fer/use_single_formatted_string_not_multiple.md
  automated-comments/csharp/two-fer/use_string_interpolation_not_string_concat.md
  automated-comments/csharp/two-fer/use_string_interpolation_not_string_join.md
  automated-comments/csharp/two-fer/use_string_interpolation_not_string_replace.md
Labels: type/analyzer-comments

#1126 csharp/leap: add automated mentoring notes
  automated-comments/csharp/leap/do_not_use_if_statement.md
  automated-comments/csharp/leap/do_not_use_is_leap_year.md
  automated-comments/csharp/leap/use_minimum_number_of_checks.md
Labels: type/analyzer-comments

#1125 csharp/gigasecond: add automated mentoring notes
  automated-comments/csharp/gigasecond/do_not_create_datetime.md
  automated-comments/csharp/gigasecond/use_1e9_not_math_pow.md
  automated-comments/csharp/gigasecond/use_1e9_or_digit_separator.md
  automated-comments/csharp/gigasecond/use_add_seconds.md
Labels: type/analyzer-comments

#1141 javascript/two-fer: add two-fer automated comments
  automated-comments/javascript/two-fer/export_inline.md
  automated-comments/javascript/two-fer/optimise_default_value.md
  automated-comments/javascript/two-fer/optimise_explicity_default_value.md
  automated-comments/javascript/two-fer/redirect_incorrect_string_template.md
Labels: type/analyzer-comments

#1143 javascript/gigasecond: add gigasecond automated comments
  automated-comments/javascript/gigasecond/export_inline.md
  automated-comments/javascript/gigasecond/prefer_number_comprehension.md
  automated-comments/javascript/gigasecond/prefer_top_level_constant.md
Labels: type/analyzer-comments

#1142 javascript/resistor-color: add resistor-color automated comments
  automated-comments/javascript/resistor-color/export_inline.md
Labels: type/analyzer-comments

#1140 javascript/general: add general automated comments
  automated-comments/javascript/general/no_default_export.md
  automated-comments/javascript/general/no_method.md
  automated-comments/javascript/general/no_named_export.md
  automated-comments/javascript/general/no_parameter.md
  automated-comments/javascript/general/parse_error.md
  automated-comments/javascript/general/prefer_strict_equality.md
  automated-comments/javascript/general/prefer_templated_strings.md
  automated-comments/javascript/general/prefer_unprefixed_underscore_parameters.md
  automated-comments/javascript/general/unexpected_parameter.md
  automated-comments/javascript/general/unexpected_splat_args.md
Labels: type/analyzer-comments

#1139 automated-comments: add initial approve comments for java/two-fer (Fixes #1115)
  automated-comments/java/two-fer/use_ternary_operator.md
Labels: type/analyzer-comments

#1146 javascript/two-fer: fix formatting error
  automated-comments/javascript/two-fer/optimise_default_value.md
Labels: type/analyzer-comments

#1147 javascript/gigasecond: use ruby specific simple sprintf format
  automated-comments/javascript/gigasecond/export_inline.md
Labels: type/analyzer-comments

#1135 Update walkthrough
  walkthrough/index.html
Labels: type/copy

#1132 Fix incorrect wording under "reasonable solutions"
  tracks/rust/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1088 Add mentoring notes for the bob exercise in the elm channel
  tracks/elm/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1006 Add mentoring notes for java/reverse-string
  tracks/java/exercises/reverse-string/mentoring.md
Labels: type/mentor-notes

#1111 java/saddle-points: add mentoring notes (Fixes #1104)
  tracks/java/exercises/saddle-points/mentoring.md
Labels: type/mentor-notes

#1152 javascript/gigasecond: automated comments for approval and disapproval
  automated-comments/javascript/gigasecond/dont_use_date_parse.md
  automated-comments/javascript/gigasecond/dont_use_date_value.md
  automated-comments/javascript/gigasecond/dont_use_get_seconds.md
  automated-comments/javascript/gigasecond/prefer_extracted_top_level_constant.md
  automated-comments/javascript/gigasecond/prefer_side_effect_free_date.md
  automated-comments/javascript/gigasecond/signature_not_optimal.md
Labels: type/analyzer-comments

#928 r/raindrops: Create raindrops.md
  tracks/r/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#1151 automated-comments: Added rust/reverse-string comments
  automated-comments/rust/reverse-string/solution_function_not_found.md
  automated-comments/rust/reverse-string/suggest_doing_bonus_test.md
  automated-comments/rust/reverse-string/suggest_removing_extern_crate.md
Labels: type/analyzer-comments

#1150 automated-comments: Added rust/general comments
  automated-comments/rust/general/failed_to_parse_solution_file.md
  automated-comments/rust/general/solution_file_not_found.md
Labels: type/analyzer-comments

#1156 javascript/gigasecond: Fix export_inline template
  automated-comments/javascript/gigasecond/export_inline.md
Labels: type/analyzer-comments

#1153 typescript/general: add automated comments
  automated-comments/typescript/general/no_default_export.md
  automated-comments/typescript/general/no_method.md
  automated-comments/typescript/general/no_named_export.md
  automated-comments/typescript/general/no_parameter.md
  automated-comments/typescript/general/parse_error.md
  automated-comments/typescript/general/prefer_const_over_let_and_var.md
  automated-comments/typescript/general/prefer_explicit_return_type.md
  automated-comments/typescript/general/prefer_strict_equality.md
  automated-comments/typescript/general/prefer_templated_strings.md
  automated-comments/typescript/general/prefer_unprefixed_underscore_parameters.md
  automated-comments/typescript/general/unexpected_boxed_type.md
  automated-comments/typescript/general/unexpected_parameter.md
  automated-comments/typescript/general/unexpected_required_parameter.md
  automated-comments/typescript/general/unexpected_splat_args.md
Labels: type/analyzer-comments

#1157 add holyjak
  mentors/clojure/h.json
Labels: type/mentor-bios

#1149 [Ruby] add additional Matrix example to mentor notes
  tracks/ruby/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#1148 Initial attempt at scala automated comments for two-fer
  automated-comments/scala/general/do_not_write_to_console.md
  automated-comments/scala/general/failed_parse.md
  automated-comments/scala/general/file_not_found.md
  automated-comments/scala/general/hard_coded_test_cases.md
  automated-comments/scala/general/has_main_function.md
  automated-comments/scala/general/no_return_type.md
  automated-comments/scala/general/proper_function_name.md
  automated-comments/scala/general/proper_object_name.md
  automated-comments/scala/general/unnecessary_function.md
  automated-comments/scala/general/unnecessary_return.md
  automated-comments/scala/general/use_string_interpolate.md
  automated-comments/scala/two-fer/empty_default_param.md
  automated-comments/scala/two-fer/no_conditionals.md
  automated-comments/scala/two-fer/no_default_param.md
  automated-comments/scala/two-fer/no_loops.md
Labels: type/analyzer-comments

#1087 typescript/two-fer: add mentoring notes
  tracks/typescript/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#1085 typescript/gigasecond: Fix readonly enforcement
  tracks/typescript/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#1162 add bash mentor: glennj
  mentors/bash/g.json
Labels: type/mentor-bios

#1160 Ruby/Resistor Duo Update mentor notes
  tracks/ruby/exercises/resistor-color-duo/mentoring.md
Labels: type/mentor-notes

#1169 Add Fabio Falzoi as Go mentor
  mentors/go/p.json
Labels: type/mentor-bios

#1191 Ruby/Matrix Remove sentence
  tracks/ruby/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#1180 javascript/spaceage: `Math.round` vs. `toFixed`
  tracks/javascript/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#979 add initial mentor notes for Crystal/Difference of Squares
  tracks/crystal/exercises/difference-of-squares/mentoring.md
Labels: type/mentor-notes

#978 add initial mentor notes for Crystal/Leap
  tracks/crystal/exercises/leap/mentoring.md
Labels: type/mentor-notes

#977 add initial mentor notes for Crystal/Hamming
  tracks/crystal/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#976 add initial mentor notes for Crystal/Gigasecond
  tracks/crystal/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#974 add initial mentor notes for Crystal/Largest Series Product
  tracks/crystal/exercises/largest-series-product/mentoring.md
Labels: type/mentor-notes

#973 add initial mentor notes for Crystal/Bob
  tracks/crystal/exercises/bob/mentoring.md
Labels: type/mentor-notes

#972 add initial mentor notes for Crystal/Triangle
  tracks/crystal/exercises/triangle/mentoring.md
Labels: type/mentor-notes

#971 add initial mentor notes for Crystal/RNA Transcription
  tracks/crystal/exercises/rna-transcription/mentoring.md
Labels: type/mentor-notes

#970 add initial mentor notes for Crystal/Raindrops
  tracks/crystal/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#1194 Fix headings in Crystal mentor notes
  tracks/crystal/exercises/bob/mentoring.md
  tracks/crystal/exercises/difference-of-squares/mentoring.md
  tracks/crystal/exercises/gigasecond/mentoring.md
  tracks/crystal/exercises/hamming/mentoring.md
  tracks/crystal/exercises/largest-series-product/mentoring.md
  tracks/crystal/exercises/leap/mentoring.md
  tracks/crystal/exercises/raindrops/mentoring.md
  tracks/crystal/exercises/rna-transcription/mentoring.md
  tracks/crystal/exercises/triangle/mentoring.md
Labels: type/mentor-notes

#1196 Add Paul to Java mentors track
  mentors/java/l.json
Labels: type/mentor-bios

#1189 Add mentor notes for csharp track space-age
  tracks/csharp/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#1199 Add csharp mentor: fpetru
  mentors/csharp/f.json
Labels: type/mentor-bios
