Repository exercism/website-copy, pull requests merged in 2019-10, with the labels that each got.

#1271 Add mentoring notes for the elisp two-fer exercise
  tracks/elisp/exercises/two-fer/mentoring.md
Labels: track/elisp, type/mentor-notes

#1342 javascript spelling: normalize & arbitrary
  automated-comments/javascript/resistor-color/commentary/dont_normalise_inputs.md
  automated-comments/javascript/resistor-color/dont_normalise_inputs.md
Labels: track/javascript, type/analyzer-comments

#1343 javascript/general: typo in comment template
  automated-comments/javascript/general/parse_error.md
Labels: track/javascript, type/analyzer-comments

#804 Updated elixir bob mentoring notes
  tracks/elixir/exercises/bob/mentoring.md
Labels: track/elixir, type/mentor-notes

#1347 Fix up a couple of broken links.
  tracks/csharp/exercises/bob/mentoring.md
  tracks/csharp/exercises/gigasecond/mentoring.md
  tracks/csharp/exercises/sum-of-multiples/mentoring.md
Labels: track/csharp, type/mentor-notes

#841 ruby hamming notes: each_char.with_index vs chars.each_with_index
  tracks/ruby/exercises/hamming/mentoring.md
Labels: track/ruby, type/mentor-notes

#1344 elixir - general, solution, two-fer remarks
  automated-comments/elixir/general/file_not_found.md
  automated-comments/elixir/general/parsing_error.md
  automated-comments/elixir/solution/raise_fn_clause_error.md
  automated-comments/elixir/solution/use_module_doc.md
  automated-comments/elixir/solution/use_specification.md
  automated-comments/elixir/two-fer/use_default_param.md
  automated-comments/elixir/two-fer/use_guards.md
  automated-comments/elixir/two-fer/use_string_interpolation.md
Labels: track/elixir, type/analyzer-comments

#1352 Add x86-64 assembly two-fer mentoring notes
  tracks/x86-64-assembly/exercises/two-fer/mentoring.md
Labels: track/x86-64-assembly, type/mentor-notes

#1361 bob: fix typo
  tracks/javascript/exercises/bob/mentoring.md
Labels: track/javascript, type/mentor-notes

#1356 python/scrabble-score: Update mentoring.md
  tracks/python/exercises/scrabble-score/mentoring.md
Labels: track/python, type/mentor-notes
