Repository exercism/website-copy, pull requests merged in 2019-06, with the labels that each got.

#1054 New Mentor: MindLabor
  mentors/java/m.json
Labels: type/mentor-bios

#1060 Add mentor bio for donatoaz
  mentors/ruby/d.json
Labels: type/mentor-bios

#1049 javascript/resistor-color: mention time complexity and premature-optimisation
  tracks/javascript/exercises/resistor-color/mentoring.md
Labels: type/mentor-notes

#1063 python/acronym: Improve readability and uniformity across examples
  tracks/python/exercises/acronym/mentoring.md
Labels: type/mentor-notes

#1048 javascript/rna-transcription: sync to 1.3.0
  tracks/javascript/exercises/rna-transcription/mentoring.md
Labels: type/mentor-notes

#1059 javascript/resistor-color: Update mentoring.md
  tracks/javascript/exercises/resistor-color/mentoring.md
Labels: type/mentor-notes

#1000 Haskell/Leap: Remove helper function in third snippet.
  tracks/haskell/exercises/leap/mentoring.md
Labels: type/mentor-notes

#1032 rust/bob: adds mentoring notes
  tracks/rust/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1065 Haskell/Leap: Add Data.Time.Calendar.isLeapYear solution
  tracks/haskell/exercises/leap/mentoring.md
Labels: type/mentor-notes

#981 Rust: add mentoring notes for bob.
  tracks/rust/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1068 javascript/resistor-color: re-wording on time complexity and premature-optimization
  tracks/javascript/exercises/resistor-color/mentoring.md
Labels: type/mentor-notes

#1010 Add mentor notes for java/secret-handshake
  tracks/java/exercises/secret-handshake/mentoring.md
Labels: type/mentor-notes

#1075 Hello, Everybody! (Mentor Info)
  mentors/go/y.json
Labels: type/mentor-bios

#1074 add mentor bio for steve-lemon
  mentors/typescript/s.json
Labels: type/mentor-bios

#1076 Update v.json
  mentors/python/v.json
Labels: type/mentor-bios

#1070 Update z.json
  mentors/javascript/z.json
Labels: type/mentor-bios

#1073 Add mentoring notes for Scala two-fer
  tracks/scala/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#1066 Mentoring guideline for erlang/bob
  tracks/erlang/exercises/bob/mentoring.md
Labels: type/mentor-notes

#1042 ENH: Add massich to python
  mentors/python/m.json
Labels: type/mentor-bios

#1079 add Garllon to ruby mentors
  mentors/ruby/g.json
Labels: type/mentor-bios

#1081 Update y.json
  mentors/ruby/y.json
Labels: type/mentor-bios

#1080 Add privalou to Java
  mentors/java/p.json
Labels: type/mentor-bios

#1082 Add Bio for Cedd Burge
  mentors/csharp/c.json
  mentors/elm/c.json
  mentors/typescript/c.json
Labels: type/mentor-bios

#1078 python/raindrops: Update mentoring.md
  tracks/python/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#1084 automated_solution_analysis: Added a link for the Rust analyzer
  pages/automated_solution_analysis.md
Labels: type/copy

#1014 [Java/Allergies] Add mentoring notes
  tracks/java/exercises/allergies/mentoring.md
Labels: type/mentor-notes

#1020 [Java/Run-length-encoding] Add mentoring notes
  tracks/java/exercises/run-length-encoding/mentoring.md
Labels: type/mentor-notes

#941 Mentoring notes for the Bash two-fer exercise
  tracks/bash/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#996 Add mentoring notes for java/armstrong-numbers
  tracks/java/exercises/armstrong-numbers/mentoring.md
Labels: type/mentor-notes

#811 Added elixir robot-simulator mentoring notes
  tracks/elixir/exercises/robot-simulator/mentoring.md
Labels: type/mentor-notes

#807 Added elixir mentoring notes for beer song
  tracks/elixir/exercises/beer-song/mentoring.md
Labels: type/mentor-notes

#1050 Update n.json
  mentors/javascript/n.json
Labels: type/mentor-bios

#1097 Add mentor bio for jdugarte in Ruby
  mentors/ruby/j.json
Labels: type/mentor-bios

#1099 automated_solution_analysis: Added a link for the Kotlin analyzer
  pages/automated_solution_analysis.md
Labels: type/copy

#1117 Add Ruby Two-Fer approval comments
  automated-comments/ruby/two-fer/kernel_format.md
  automated-comments/ruby/two-fer/string_building.md
  automated-comments/ruby/two-fer/string_format.md
Labels: type/analyzer-comments
