Repository exercism/website-copy, pull requests merged in 2019-03, with the labels that each got.

#822 julia/custom-set: Add internal representation talking point
  tracks/julia/exercises/custom-set/mentoring.md
Labels: type/mentor-notes

#790 Add my profile
  mentors/cpp/n.json
Labels: type/mentor-bios

#825 ruby/high-scores: Improve Mentor Notes
  tracks/ruby/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#829 new mentor
  mentors/javascript/h.json
Labels: type/mentor-bios

#831 adding bio
  mentors/python/n.json
Labels: type/mentor-bios

#832 Add myself to Rust mentors
  mentors/rust/m.json
Labels: type/mentor-bios

#826 TwoFer/csharp Fix broken URL in two-fer notes
  tracks/csharp/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#793 Go/Hamming: Update mentor notes to reflect new tests
  tracks/go/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#834 csharp/two-fer: remove confusing default value reference
  tracks/csharp/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#821 javascript/secret-handshake: add minimal notes
  tracks/javascript/exercises/secret-handshake/mentoring.md
Labels: type/mentor-notes

#820 javascript/wordy: add minimal notes
  tracks/javascript/exercises/wordy/mentoring.md
Labels: type/mentor-notes

#816 javascript/space-age: update notes for new exercise implementation
  tracks/javascript/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#830 python/isogram: Consistent indentation (4 spaces) and typo fixes
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#824 python/two-fer: add new lang features
  tracks/python/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#836 Javascript #629 Linked List fix head/tail semantics
  tracks/javascript/exercises/linked-list/mentoring.md
Labels: type/mentor-notes

#837 Update j.json
  mentors/python/j.json
Labels: type/mentor-bios

#842 Add to BASH mentors
  mentors/bash/m.json
Labels: type/mentor-bios

#835 haskell/collatz-conjecture: use quot and rem over div and mod
  tracks/haskell/exercises/collatz-conjecture/mentoring.md
Labels: type/mentor-notes

#843 python/luhn: mentor notes
  tracks/python/exercises/luhn/mentoring.md
Labels: type/mentor-notes

#838 python/high scores Mentor Notes
  tracks/python/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#845 Add myself to JavaScript mentors :)
  mentors/javascript/a.json
  mentors/typescript/a.json
Labels: type/mentor-bios

#839 r: Add Two Fer mentor notes
  tracks/r/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#844 python: Notes for scrabble score
  tracks/python/exercises/scrabble-score/mentoring.md
Labels: type/mentor-notes

#833 Updated g.json with new mentor details.
  mentors/python/g.json
Labels: type/mentor-bios

#849 Add mentoring notes for scala leap
  tracks/scala/leap/mentoring.md
Labels: type/mentor-notes

#848 Add mentoring notes for scala sum-of-multiples
  tracks/sum-of-multiples/mentoring.md
Labels: type/mentor-notes

#851 Add mentoring notes for scala Bob.
  tracks/scala/bob/mentoring.md
Labels: type/mentor-notes

#855 Update e.json
  mentors/csharp/e.json
Labels: type/mentor-bios

#850 elm/two-fer: fixes typo (elm vs go)
  tracks/elm/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#853 Ruby/Resistor Colors: Add Mentor Notes
  tracks/ruby/exercises/resistor-colors/mentoring.md
Labels: type/mentor-notes

#858 move misplaced mentor notes to proper locations
  tracks/bash/exercises/armstrong-numbers/mentoring.md
  tracks/scala/exercises/bob/mentoring.md
  tracks/scala/exercises/leap/mentoring.md
  tracks/scala/exercises/sum-of-multiples/mentoring.md
Labels: type/mentor-notes

#857 Added emadb bio
  mentors/elixir/e.json
Labels: type/mentor-bios

#863 Added IanKnighton to Mentor Info
  mentors/csharp/i.json
Labels: type/mentor-bios

#866 Add mentoring notes for Scala Grade School exercise.
  tracks/scala/exercises/grade-school/mentoring.md
Labels: type/mentor-notes

#865 Add mentoring notes for Scala space-age
  tracks/scala/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#860 chore: Adds mentor infos for Inkdpixels
  mentors/javascript/i.json
  mentors/typescript/i.json
Labels: type/mentor-bios

#861 Hyperlink email addresses
  pages/mentoring_faqs.md
Labels: type/copy

#846 python: Notes for mentoring matrix
  tracks/python/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#856 General Notes for Mentoring in Python
  tracks/python/exercises/General/mentoring.md
Labels: type/mentor-notes

#859 [ruby/luhn] Create initial mentoring.md
  tracks/ruby/exercises/luhn/mentoring.md
Labels: type/mentor-notes

#864 Add mentor notes for csharp track nucleotide-count
  tracks/csharp/exercises/nucleotide-count/mentoring.md
  tracks/csharp/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#868 python: Notes on grading Grade School
  tracks/python/exercises/grade_school/mentoring.md
Labels: type/mentor-notes

#870 JS & TS: Fix typos in bio for Inkdpixels
  mentors/javascript/i.json
  mentors/typescript/i.json
Labels: type/mentor-bios

#867 add me as a js mentor
  mentors/javascript/b.json
Labels: type/mentor-bios

#874 Java: add bio paulorosa
  mentors/java/p.json
Labels: type/mentor-bios

#873 Fix link on Ruby series mentoring notes
  tracks/ruby/exercises/series/mentoring.md
Labels: type/mentor-notes

#879 mentoring_workflow.md: Fix typo process/progress
  pages/mentoring_workflow.md
Labels: type/copy

#875 Ruby/Luhn New notes
  tracks/ruby/exercises/luhn/mentoring.md
Labels: type/mentor-notes

#877 javascript: Adjust grammar of `leap` mentoring notes
  tracks/javascript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#854 elixir/list-ops: mentoring notes
  tracks/elixir/exercises/list-ops/mentoring.md
Labels: type/mentor-notes

#818 javascript/list-ops: add minimal notes
  tracks/javascript/exercises/list-ops/mentoring.md
Labels: type/mentor-notes

#884 Revert "List myself as a PureScript mentor."
  mentors/purescript/l.json
Labels: type/mentor-bios

#886 Add bio to ruby and go tracks
  mentors/go/c.json
  mentors/ruby/c.json
Labels: type/mentor-bios

#887 Add mentor bio for chvanikoff
  mentors/elixir/c.json
Labels: type/mentor-bios

#890 Removed myself from the mentor lists of two languaes
  mentors/csharp/c.json
  mentors/fsharp/c.json
Labels: type/mentor-bios

#881 python/general: Add notes on Returns from functions
  tracks/python/exercises/General/mentoring.md
Labels: type/mentor-notes

#892 Add idanci ruby mentor bio
  mentors/ruby/i.json
Labels: type/mentor-bios

#891 Update ruby/c.json with new profile info for CuriousPhysicist
  mentors/ruby/c.json
Labels: type/mentor-bios

#893 Fix broken link on Ruby two-fer notes
  tracks/ruby/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#894 python/luhn: add example seen in the wild
  tracks/python/exercises/luhn/mentoring.md
Labels: type/mentor-notes

#888 julia/difference-of-squares: Use ÷ and Gauss's formula
  tracks/julia/exercises/difference-of-squares/mentoring.md
Labels: type/mentor-notes

#898 python/two-fer: update notes
  tracks/python/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#897 python/word-count: guidelines
  tracks/python/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#895 python/acronym: edit first program to streamline
  tracks/python/exercises/acronym/mentoring.md
Labels: type/mentor-notes

#900 javascript/resistor-color: add minimal mentor notes
  tracks/javascript/exercises/resistor-color/mentoring.md
Labels: type/mentor-notes

#885 python/general: Add notes on Variables and Simplicity
  tracks/python/exercises/General/mentoring.md
Labels: type/mentor-notes

#899 javascript/two-fer: update two-fer for core usage
  tracks/javascript/exercises/leap/mentoring.md
  tracks/javascript/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#902 Fix error implying this being a side exercise
  tracks/javascript/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#905 Added debck as Mentor
  mentors/javascript/d.json
Labels: type/mentor-bios

#906 Added 'parampaa2' as python mentor
  mentors/python/p.json
Labels: type/mentor-bios
