Repository exercism/website-copy, pull requests merged in 2019-01, with the labels that each got.

#680 Add Mentor to swift track
  mentors/swift/s.json
Labels: type/mentor-bios

#648 Update mentoring for swift two-fer
  tracks/swift/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#673 Add mentor info to Scala track.
  mentors/scala/p.json
Labels: type/mentor-bios

#579 Sum Of Multiples mentoring notes for Python
  tracks/python/exercises/sum-of-multiples/mentoring.md
Labels: type/mentor-notes

#600 added notes for java/triangle
  tracks/java/exercises/triangle/mentoring.md
Labels: type/mentor-notes

#605 javascript/simple-cipher: Add basic notes including benchmark
  tracks/javascript/exercises/simple-cipher/mentoring.md
Labels: type/mentor-notes

#607 javascript/leap: Improve mentor notes
  tracks/javascript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#609 javascript/etl: Add basic notes
  tracks/javascript/exercises/etl/mentoring.md
Labels: type/mentor-notes

#666 Elixer/Bob Added some hints and a link to a style guide.
  tracks/elixir/exercises/bob/mentoring.md
Labels: type/mentor-notes

#622 Rust: add mentoring notes for luhn
  tracks/rust/exercises/luhn/mentoring.md
Labels: type/mentor-notes

#621 Rust: add mentoring notes for sublist
  tracks/rust/exercises/sublist/mentoring.md
Labels: type/mentor-notes

#554 Go: Advocate for errors package; minor copy edits
  tracks/go/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#558 Add mentor notes for elixir/binary-search
  tracks/elixir/exercises/binary-search/mentoring.md
Labels: type/mentor-notes

#624 Rust: add mentoring notes for bracket-push
  tracks/rust/exercises/bracket-push/mentoring.md
Labels: type/mentor-notes

#647 C: used flags should be bool rather than integer (clarity)
  tracks/c/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#654 haskell/nucleotide-count: Add mentoring notes
  tracks/haskell/exercises/nucleotide-count/mentoring.md
Labels: type/mentor-notes

#570 Add mentoring notes for Python binary-search
  tracks/python/exercises/binary-search/mentoring.md
Labels: type/mentor-notes

#684 Add Ballerina mentor details - Maryam
  mentors/ballerina/m.json
Labels: type/mentor-bios

#639 Add carnellj bio
  mentors/clojure/c.json
Labels: type/mentor-bios

#685 New Go mentor bio
  mentors/go/s.json
Labels: type/mentor-bios

#641 ruby/two-fer: Improve mentor notes
  tracks/ruby/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#625 Rust: add mentoring notes for clock
  tracks/rust/exercises/clock/mentoring.md
Labels: type/mentor-notes

#687 Update mentoring.md (two-fer: Python)
  tracks/python/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#683 Update code_of_conduct.md
  pages/code_of_conduct.md
Labels: type/copy

#682 Add mentoring notes for leap in R
  tracks/r/exercises/leap/mentoring.md
Labels: type/mentor-notes

#688 python/binary-search: Update mentoring notes in response to #570 comments
  tracks/python/exercises/binary-search/mentoring.md
Labels: type/mentor-notes

#691 Acronym mentoring: add another (better?) regexp
  tracks/ruby/exercises/acronym/mentoring.md
Labels: type/mentor-notes

#690 Recommend GitHub before email
  pages/contact.md
Labels: type/copy

#693 Added hutcho66 to h.json
  mentors/javascript/h.json
Labels: type/mentor-bios

#695 Update: Mentor Notes are available on the site
  README.md
Labels: type/copy

#696 Update mentored_mode_vs_independent_mode.md
  pages/mentored_mode_vs_independent_mode.md
Labels: type/copy

#694 ruby/series Add Mentor Notes
  tracks/ruby/exercises/series/mentoring.md
Labels: type/mentor-notes

#699 Update a.json
  mentors/bash/a.json
Labels: type/mentor-bios

#701 Added profile for Max Leuthäuser
  mentors/scala/m.json
Labels: type/mentor-bios

#702 Add Daniel Krauskopf bio to java
  mentors/java/d.json
Labels: type/mentor-bios

#705 add list on javascript mentor
  mentors/javascript/a.json
Labels: type/mentor-bios

#712 Added arjun mahishi to the go mentors list
  mentors/go/a.json
Labels: type/mentor-bios

#718 javascript: fix header levels in current mentor notes
  tracks/javascript/exercises/hamming/mentoring.md
  tracks/javascript/exercises/rna-transcription/mentoring.md
Labels: type/mentor-notes

#709 Ruby/word_count Update mentor notes
  tracks/ruby/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#717 javascript/gigasecond: minimal mentor notes
  tracks/javascript/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#720 javascript/leap: Update notes for implicit return in arrow functions
  tracks/javascript/exercises/leap/mentoring.md
Labels: type/mentor-notes

#626 Rust: add mentoring notes for pythagorean-triplet
  tracks/rust/exercises/pythagorean-triplet/mentoring.md
Labels: type/mentor-notes

#733 Add Michael Berger bio to java
  mentors/java/m.json
Labels: type/mentor-bios

#736 Add me to the Ruby mentors
  mentors/ruby/m.json
Labels: type/mentor-bios

#743 Update terms_of_service.md
  pages/terms_of_service.md
Labels: type/copy

#737 Add mentoring notes for java/hamming
  tracks/java/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#729 Make links to act like links on Mentoring FAQ
  pages/mentoring_faqs.md
Labels: type/copy

#730 Rename method name to be consistent with test suite
  tracks/java/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#745 Move code mark to Class#method portion.
  tracks/ruby/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#746 adding mentor bio for James Fu
  mentors/python/z.json
Labels: type/mentor-bios

#747 mentor bio for alexhalford
  mentors/python/a.json
Labels: type/mentor-bios

#748 Update a.json
  mentors/cpp/a.json
Labels: type/mentor-bios

#735 javascript/grade-school: minimal mentor notes
  tracks/javascript/exercises/grade-school/mentoring.md
Labels: type/mentor-notes

#713 [Java Two-Fer] Identify code in the suggestions
  tracks/java/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#750 Remove bio 'Stef-Gijsberts' from Rust mentors
  mentors/rust/s.json
Labels: type/mentor-bios

#742 Raiper
  mentors/typescript/r.json
Labels: type/mentor-bios

#732 typescript/linked-list: minimal mentor notes
  tracks/typescript/exercises/linked-list/mentoring.md
Labels: type/mentor-notes

#711 Add a possible solution for kotlin secret-handshake
  tracks/kotlin/exercises/secret-handshake/mentoring.md
Labels: type/mentor-notes

#725 typescript/pangram: minimal mentor notes
  tracks/typescript/exercises/pangram/mentoring.md
Labels: type/mentor-notes

#722 typescript/space-age: minimal mentor notes
  tracks/typescript/exercises/space-age/mentoring.md
Labels: type/mentor-notes

#724 javascript/pangram: minimal mentor notes
  tracks/javascript/exercises/pangram/mentoring.md
Labels: type/mentor-notes

#715 Added notes for java/difference-of-squares
  tracks/java/exercises/difference-of-squares/mentoring.md
Labels: type/mentor-notes

#719 typescript/gigasecond: minimal mentor notes
  tracks/typescript/exercises/gigasecond/mentoring.md
Labels: type/mentor-notes

#738 javascript/robot-name: minimal mentor notes
  tracks/javascript/exercises/robot-name/mentoring.md
Labels: type/mentor-notes

#727 typescript/matrix: minimal mentor notes
  tracks/typescript/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#726 javascript/matrix: minimal mentor notes
  tracks/javascript/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#734 typescript/grade-school: minimal mentor notes
  tracks/typescript/exercises/grade-school/mentoring.md
Labels: type/mentor-notes

#731 javascript/linked-list: minimal mentor notes
  tracks/javascript/exercises/linked-list/mentoring.md
Labels: type/mentor-notes

#739 typescript/pascals-triangle: minimal mentor notes
  tracks/typescript/exercises/pascals-triangle/mentoring.md
Labels: type/mentor-notes

#714 Haskell/Leap: Update mentoring notes
  tracks/haskell/exercises/leap/mentoring.md
Labels: type/mentor-notes

#710 Add rotational cipher solution for Kotlin
  tracks/kotlin/exercises/rotational-cipher/mentoring.md
Labels: type/mentor-notes

#704 [Kotlin]: Add another hamming solution that uses deconstruction
  tracks/kotlin/exercises/hamming/mentoring.md
Labels: type/mentor-notes

#751 Add a solution for binary search in Kotiln
  tracks/kotlin/exercises/binary-search/mentoring.md
Labels: type/mentor-notes

#740 javascript/pascals-triangle: minimal mentor notes
  tracks/javascript/exercises/pascals-triangle/mentorings.md
Labels: type/mentor-notes

#753 Add mentor bio for Samusan
  mentors/ruby/s.json
Labels: type/mentor-bios

#752 [Elm] - Mentoring note for Two Fer
  tracks/elm/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#755 Added my bio
  mentors/python/l.json
Labels: type/mentor-bios

#759 Update s.json
  mentors/julia/s.json
Labels: type/mentor-bios

#760 Added my bio to Python track
  mentors/python/j.json
Labels: type/mentor-bios

#761 Update g.json
  mentors/javascript/g.json
Labels: type/mentor-bios
