Repository exercism/website-copy, pull requests merged in 2019-05, with the labels that each got.

#983 Add me as a mentor for the rust track
  mentors/rust/k.json
Labels: type/mentor-bios

#986 python/matrix: fix typo in sub-heading
  tracks/python/exercises/matrix/mentoring.md
Labels: type/mentor-notes

#990 javascript/grade-school: Fix typo
  tracks/javascript/exercises/grade-school/mentoring.md
Labels: type/mentor-notes

#985 Add mentor bio for cdlm in pharo-smalltalk track
  mentors/pharo-smalltalk/c.json
Labels: type/mentor-bios

#989 Added Archana's bio to ruby and typescript tracks
  mentors/ruby/a.json
  mentors/typescript/a.json
Labels: type/mentor-bios

#988 Appended Archana's bio to Javascript track
  mentors/javascript/a.json
Labels: type/mentor-bios

#984 kotlin/two-fer: Update mentoring.md
  tracks/kotlin/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#956 Python/High-Scores Updated Mentor Notes
  tracks/python/exercises/high-scores/mentoring.md
Labels: type/mentor-notes

#966 Fixes in python/exercises/isogram/mentoring.md
  tracks/python/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#969 Relax prohibition on string addition
  tracks/python/exercises/raindrops/mentoring.md
Labels: type/mentor-notes

#998 python: update l.json
  mentors/python/l.json
Labels: type/mentor-bios

#1007 Added sachiwhite as a C# mentor
  mentors/csharp/s.json
Labels: type/mentor-bios

#938 c/isogram: Return true if an empty array is passed.
  tracks/c/exercises/isogram/mentoring.md
Labels: type/mentor-notes

#1018 Add my bio.
  mentors/swift/d.json
Labels: type/mentor-bios

#1019 Add bio to JavaScript section
  mentors/javascript/c.json
Labels: type/mentor-bios

#1013 Add dheater as a mentor for the C track
  mentors/c/d.json
Labels: type/mentor-bios

#940 Go: Fix links to exalysis
  tracks/go/exercises/hamming/mentoring.md
  tracks/go/exercises/raindrops/mentoring.md
  tracks/go/exercises/scrabble-score/mentoring.md
  tracks/go/exercises/two-fer/mentoring.md
Labels: type/mentor-notes

#1026 fixed typos in stub document.
  pages/automated_solution_analysis.md
Labels: type/copy

#1030 added my bio as a mentor
  mentors/javascript/t.json
Labels: type/mentor-bios

#1031 Add Rob Kendal to mentor list
  mentors/javascript/b.json
Labels: type/mentor-bios

#1029 Update "github_username" from astoehr to stoehraj
  mentors/bash/a.json
  mentors/bash/s.json
Labels: type/mentor-bios

#1036 Ruby: Word Count - Missing colon in reguexp
  tracks/ruby/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#1047 erlang/leap: Fix sub-heading level
  tracks/erlang/exercises/leap/mentoring.md
Labels: type/mentor-notes

#784 Ruby/Acronym: Experiment with mentor snippets
  tracks/ruby/exercises/acronym/mentoring.md
Labels: type/mentor-notes

#1040 Ruby/ Resistor Duo Update mentor notes with pledge for array solution
  tracks/ruby/exercises/resistor-color-duo/mentoring.md
Labels: type/mentor-notes

#1017 R: Update previous mentoring.md files, add five new ones.
  tracks/r/exercises/anagram/mentoring.md
  tracks/r/exercises/bob/mentoring.md
  tracks/r/exercises/hamming/mentoring.md
  tracks/r/exercises/leap/mentoring.md
  tracks/r/exercises/phone-number/mentoring.md
  tracks/r/exercises/raindrops/mentoring.md
  tracks/r/exercises/rotational-cipher/mentoring.md
  tracks/r/exercises/sum-of-multiples/mentoring.md
  tracks/r/exercises/two-fer/mentoring.md
  tracks/r/exercises/word-count/mentoring.md
Labels: type/mentor-notes

#1052 Add mentor bio for Alexhans
  mentors/cpp/a.json
  mentors/python/a.json
Labels: type/mentor-bios
