Repository exercism/website-copy, pull requests merged in 2019-09, with the labels that each got.

#1278 Add 'pranasziaukas' mentor bio in Python track
  mentors/python/p.json
Labels: type/mentor-bios

#1215 javascript/etl: Remove mentions that for/of is unsupported
  tracks/javascript/exercises/etl/mentoring.md
Labels: type/mentor-notes

#1223 go/general: comments for disapprove
  automated-comments/go/general/avoid_init_function.md
  automated-comments/go/general/avoid_printing_and_logging.md
  automated-comments/go/general/function_signature_changed.md
  automated-comments/go/general/gofmt_not_used.md
  automated-comments/go/general/golint_not_satisfied.md
  automated-comments/go/general/missing_function.md
  automated-comments/go/general/remove_main_function_and_correct_package_name.md
  automated-comments/go/general/single_function.md
  automated-comments/go/general/strings_compare_used.md
  automated-comments/go/general/strings_trim_space_used.md
  automated-comments/go/general/syntax_error.md
Labels: type/analyzer-comments

#1224 go/hamming: disapprove comments
  automated-comments/go/hamming/comparing_bytes_disguised_as_runes.md
  automated-comments/go/hamming/distance_signature_changed.md
  automated-comments/go/hamming/missing_distance_function.md
  automated-comments/go/hamming/strings_split_used.md
Labels: type/analyzer-comments

#1225 go/raindrops: missing comments for disapprove
  automated-comments/go/raindrops/entry_signature_changed.md
  automated-comments/go/raindrops/missing_entry_function.md
Labels: type/analyzer-comments

#1184 Add Twelve Days mentoring notes for Elm
  tracks/elm/exercises/twelve-days/mentoring.md
Labels: type/mentor-notes

#1273 rust/atbash-cipher: fix typo in mentoring notes
  tracks/rust/exercises/atbash-cipher/mentoring.md
Labels: track/rust, type/mentor-notes

#1023 [Java/Word Count] Add mentoring notes
  tracks/java/exercises/word-count/mentoring.md
Labels: track/java, type/mentor-notes

#1008 Python/Isogram: Add example of solution with handcrafted sets
  tracks/python/exercises/isogram/mentoring.md
Labels: track/python, type/mentor-notes

#1086 javascript/two-fer: sync with analyzer
  tracks/javascript/exercises/leap/mentoring.md
  tracks/javascript/exercises/two-fer/mentoring.md
Labels: track/javascript, type/mentor-notes

#1300 Add Nathan Burgess
  mentors/javascript/n.json
Labels: type/mentor-bios

#1304 Ruby: Two Fer - No function named
  automated-comments/ruby/general/no_target_method.md
Labels: track/ruby, type/analyzer-comments

#1309 Add Raoul as mentor
  mentors/r/r.json
Labels: track/r, type/mentor-bios

#1312 Added Vedant Shetty
  mentors/javascript/v.json
Labels: track/javascript, type/mentor-bios

#1294 Rust: Bob: hyperlink ends_with to rust std docs
  tracks/rust/exercises/bob/mentoring.md
Labels: track/rust, type/mentor-notes

#1310 add mentor: droidlinq
  mentors/go/d.json
Labels: track/go, type/mentor-bios

#1315 🧪 Add initial comments for resistor-color-duo
  automated-comments/javascript/gigasecond/dont_use_date_parse.md
  automated-comments/javascript/gigasecond/export_inline.md
  automated-comments/javascript/resistor-color-duo/commentary/limit_number_of_colors.md
  automated-comments/javascript/resistor-color-duo/commentary/must_add_missing_call.md
  automated-comments/javascript/resistor-color-duo/commentary/must_declare_function.md
  automated-comments/javascript/resistor-color-duo/commentary/must_optimise_helper.md
  automated-comments/javascript/resistor-color-duo/commentary/must_use_a_helper.md
  automated-comments/javascript/resistor-color-duo/commentary/prefer_number_over_parse.md
  automated-comments/javascript/resistor-color-duo/commentary/signature_not_optimal.md
  automated-comments/javascript/resistor-color-duo/commentary/use_math_instead_of_type_juggling.md
  automated-comments/javascript/resistor-color-duo/destructuring_in_parameter.md
  automated-comments/javascript/resistor-color-duo/export_inline.md
  automated-comments/javascript/resistor-color-duo/limit_number_of_colors.md
  automated-comments/javascript/resistor-color-duo/must_use_a_helper.md
  automated-comments/javascript/resistor-color-duo/use_array_comprehensions.md
Labels: track/javascript, type/analyzer-comments

#1319 Add my mentor infos
  mentors/python/l.json
Labels: type/mentor-bios

#1308 Add mentor bio for setn4me
  mentors/c/s.json
Labels: track/c, type/mentor-bios

#1322 Update how_do_mentor_queues_work.md
  pages/how_do_mentor_queues_work.md
Labels: type/copy

#1306 javascript/resistor-color: Update for TA
  tracks/javascript/exercises/resistor-color-duo/mentoring.md
  tracks/javascript/exercises/resistor-color/mentoring.md
Labels: track/javascript, type/mentor-notes

#1323 add Andy's bio
  mentors/javascript/a.json
Labels: track/javascript, type/mentor-bios

#1320 python: Remove unused import & fix typo
  tracks/python/exercises/isogram/mentoring.md
Labels: track/python, type/mentor-notes

#1328 haskell/leap: Adds explicit example of an alluded refactor.
  tracks/haskell/exercises/leap/mentoring.md
Labels: track/haskell, type/mentor-notes

#1331 Update 'sshine' presence on tracks
  mentors/haskell/s.json
  mentors/ocaml/s.json
  mentors/sml/s.json
Labels: type/mentor-bios

#1332 javascript/resistor-color-duo: add missing template
  automated-comments/javascript/resistor-color-duo/commentary/expected_different_call.md
Labels: track/javascript, type/analyzer-comments

#1335 javascript/general: Create error_captured_no_source.md
  automated-comments/javascript/general/error_captured_no_source.md
Labels: track/javascript, type/analyzer-comments
