Repository exercism/website-copy, pull requests merged in 2020-12, with the labels that each got.

#1850 [copy] add bio to swift track
  mentors/swift/c.json
Labels: track/swift, type/mentor-bios

#1842 [Elixir] Add automated comment for pacman-rules
  automated-comments/elixir/pacman-rules/use_strictly_boolean_operators.md
Labels: track/elixir, type/analyzer-comments

#1839 Clean up the bash/hamming mentor notes
  tracks/bash/exercises/hamming/mentoring.md
Labels: track/bash, type/mentor-notes

#1807 Adds Mentor to javascript track
  mentors/javascript/a.json
Labels: track/javascript, type/mentor-bios

#1802 rust/clock: chrono crate
  tracks/rust/exercises/clock/mentoring.md
Labels: track/rust, type/mentor-notes

#1799 rust/macros: alternate solution
  tracks/rust/exercises/macros/mentoring.md
Labels: track/rust, type/mentor-notes

#1797 rust/space-age: introduce macros
  tracks/rust/exercises/space-age/mentoring.md
Labels: track/rust, type/mentor-notes

#1794 Mentor bios: javascript/slaymance
  mentors/javascript/s.json
Labels: track/javascript, type/mentor-bios

#1701 java/difference-of-squares: Update mentoring.md for difference of squares
  tracks/java/exercises/difference-of-squares/mentoring.md
Labels: track/java, type/mentor-notes

#1557 rust: atbash-cipher: add another minimal-allocation example
  tracks/rust/exercises/atbash-cipher/mentoring.md
Labels: track/rust, type/mentor-notes

#1360 Mentoring notes for flatten-array in the java-track.
  tracks/java/exercises/flatten-array/mentoring.md
Labels: track/java, type/mentor-notes

#1359 Added mentoring notes for rotational-cipher in java track.
  tracks/java/exercises/rotational-cipher/mentoring.md
Labels: track/java, type/mentor-notes

#1290 fix typo and restructure the sentences
  tracks/python/exercises/two-fer/mentoring.md
Labels: track/python, type/mentor-notes

#1553 java/matrix: add mentoring notes (Fixes #1102)
  tracks/java/exercises/matrix/mentoring.md
Labels: track/java, type/mentor-notes

#1288 Initial version of mentor notes for Ruby/Tournament
  tracks/ruby/exercises/tournament/mentoring.md
Labels: track/ruby, type/mentor-notes

#1804 Add some more explanation of the CLI
  pages/cli.md
  walkthrough/index.html
Labels: type/copy

#1570 elixir/word-count: Update mentoring.md
  tracks/elixir/exercises/word-count/mentoring.md
Labels: track/elixir, type/mentor-notes

#1705 rust/leap: Clarify note about effects of binding
  tracks/rust/exercises/leap/mentoring.md
Labels: track/rust, type/mentor-notes

#1854 ruby/word-count: Add a note about Enumerable#tally
  tracks/ruby/exercises/word-count/mentoring.md
Labels: track/ruby, type/mentor-notes

#1835 [Bash] mentor notes for side exercise "proverb"
  tracks/bash/exercises/proverb/mentoring.md
Labels: track/bash, type/mentor-notes

#778 swift/leap: add another example
  tracks/swift/exercises/leap/mentoring.md
Labels: track/swift, type/mentor-notes

#1429 haskell/nucleotide-count: Fix typos, remove unused imports
  tracks/haskell/exercises/nucleotide-count/mentoring.md
Labels: track/haskell, type/mentor-notes

#1852 Ruby: Word Count mentoring whitespace and newlines
  tracks/ruby/exercises/word-count/mentoring.md
Labels: track/ruby, type/mentor-notes

#1857 [Julia] Rewrite notes for Raindrops exercise
  tracks/julia/exercises/raindrops/mentoring.md
Labels: track/julia, type/mentor-notes

#1845 rust/reverse-string: Type on the left preferable to Explicit turbofish
  tracks/rust/exercises/reverse-string/mentoring.md
Labels: track/rust, type/mentor-notes

#1865 julia: luhn mentoring notes
  tracks/julia/exercises/luhn/mentoring.md
Labels: track/julia, type/mentor-notes

#1853 [Elixir] Add automated comment for take-a-number
  automated-comments/elixir/take-a-number/do_not_use_abstractions.md
Labels: track/elixir, type/analyzer-comments

#1872 javascript/resistor-color-duo: fix typo
  tracks/javascript/exercises/resistor-color-duo/mentoring.md
Labels: track/javascript, type/mentor-notes
