Repository exercism/website-copy, pull requests merged in 2020-10, with the labels that each got.

#1782 julia: add triangle mentoring notes
  tracks/julia/exercises/triangle/mentoring.md
Labels: hacktoberfest-accepted

#1788 Add mentor
  mentors/typescript/s.json
Labels: track/typescript, type/mentor-notes

#1786 Remove eparovyshnaya from Kotlin mentors
  mentors/kotlin/e.json
Labels: track/kotlin, type/mentor-bios

#1791 Julia: leap: Add note on short-circuiting
  tracks/julia/exercises/leap/mentoring.md
Labels: hacktoberfest-accepted, track/julia

#1785 julia: improve pythagorean-triplets notes
  tracks/julia/exercises/pythagorean-triplet/mentoring.md
Labels: hacktoberfest-accepted, track/julia, type/mentor-notes

#1780 julia: secret-handshake: minor improvements
  tracks/julia/exercises/secret-handshake/mentoring.md
Labels: hacktoberfest-accepted, track/julia, type/mentor-notes
