Repository exercism/website-copy, pull requests merged in 2020-09, with the labels that each got.

#1667 java/gigasecond: Update mentoring.md
  tracks/java/exercises/gigasecond/mentoring.md
Labels: track/java, type/mentor-notes

#1731 Update b.json
  mentors/python/b.json
Labels: track/python, type/mentor-bios

#1663 pages/how_do_mentor_queues_work: fix typo
  pages/how_do_mentor_queues_work.md
Labels: type/copy

#1618 fix function name as decodedValue
  tracks/javascript/exercises/resistor-color-duo/mentoring.md
Labels: track/javascript, type/mentor-notes

#1715 Add Jubaan's bio, correct indentation.
  mentors/ruby/j.json
Labels: track/ruby, type/mentor-bios

#1671 cpp/leap: Mentor notes for C++ track Leap exercise
  tracks/cpp/exercises/leap/mentoring.md
Labels: track/cpp, type/mentor-notes

#1681 pages/how_do_mentor_queues_work: Is the estimate warranted?
  pages/how_do_mentor_queues_work.md
Labels: type/copy
