Repository exercism/website-copy, pull requests merged in 2020-04, with the labels that each got.

#1507 Add mentoring notes for Python markdown exercise
  tracks/python/exercises/markdown/README.md
Labels: track/python, type/mentor-notes

#1508 Add mentoring notes for Dart Two Fer exercise
  tracks/dart/exercises/two-fer/mentoring.md
Labels: track/dart, type/mentor-notes

#1536 Edited parameter name
  tracks/python/exercises/matrix/mentoring.md
Labels: track/python

#1461 getting_started.md: made sections easier to read
  pages/getting_started.md
Labels: type/copy

#1560 Added Collisio Adolebitque to the mentors list for Python.
  mentors/python/c.json
Labels: track/python, type/mentor-bios

#1412 javascript/collatz-conjecture: initial mentor notes
  tracks/javascript/exercises/collatz-conjecture/mentoring.md
Labels: track/javascript, type/mentor-notes
