Repository exercism/website-copy, pull requests merged in 2021-08, with the labels that each got.

#2031 Add Elixir analyzer comment about indentation
  analyzer-comments/elixir/solution/indentation.md
Labels: track/elixir, type/analyzer-comments

#2033 Update mentors list for javascript track
  mentors/javascript/a.json
Labels: track/javascript, type/mentor-bios

#2034 Update z.json
  mentors/python/z.json
Labels: track/python, type/mentor-bios

#2036 Description for Elixir analyzer check: `need-for-speed`
  analyzer-comments/elixir/need-for-speed/do_not_modify_code.md
  analyzer-comments/elixir/need-for-speed/import_ANSI_with_except.md
  analyzer-comments/elixir/need-for-speed/import_IO_with_only.md
Labels: track/elixir, type/analyzer-comments

#2037 Description for Elixir analyzer check: `rpn-calculator-output`
  analyzer-comments/elixir/rpn-calculator-output/close_in_after.md
  analyzer-comments/elixir/rpn-calculator-output/open_before_try.md
  analyzer-comments/elixir/rpn-calculator-output/output_in_else.md
  analyzer-comments/elixir/rpn-calculator-output/try_rescue_else_after.md
  analyzer-comments/elixir/rpn-calculator-output/write_in_try.md
Labels: track/elixir, type/analyzer-comments

#2039 Description for Elixir analyzer check: `rpn-calculator-inspection`
  analyzer-comments/elixir/rpn-calculator-inspection/use_start_link.md
Labels: track/elixir, type/analyzer-comments

#2040 Description for Elixir analyzer check: `rpg-character-sheet`
  analyzer-comments/elixir/rpg-character-sheet/IO_inspect_uses_label.md
  analyzer-comments/elixir/rpg-character-sheet/ends_with_IO_inspect.md
  analyzer-comments/elixir/rpg-character-sheet/run_uses_other_functions.md
  analyzer-comments/elixir/rpg-character-sheet/welcome_ends_with_IO_puts.md
Labels: track/elixir, type/analyzer-comments

#2038 Adds HasFlags hint and documentation links
  tracks/csharp/exercises/allergies/mentoring.md
Labels: track/csharp, type/mentor-notes

#2043 Description for Elixir analyzer check: `list-ops`
  analyzer-comments/elixir/list-ops/do_not_use_list_functions.md
Labels: track/elixir, type/analyzer-comments

#2042 Add mentor data for "salouri"
  mentors/javascript/s.json
Labels: track/javascript, type/mentor-bios

#2044 Add self as a mentor for Python track
  mentors/python/n.json
Labels: track/python, type/mentor-bios

#2047 Description for Elixir analyzer check: `newsletter`
  analyzer-comments/elixir/newsletter/close_log_returns_implicitly.md
  analyzer-comments/elixir/newsletter/log_sent_email_returns_implicitly.md
  analyzer-comments/elixir/newsletter/open_log_uses_option_write.md
  analyzer-comments/elixir/newsletter/send_newsletter_returns_implicitly.md
  analyzer-comments/elixir/newsletter/send_newsletter_reuses_functions.md
Labels: track/elixir, type/analyzer-comments

#2048 [Python] Clean up Analyzer [PyLint] & [General] Comments
  analyzer-comments/python/general/no_return.md
  analyzer-comments/python/pylint/convention.md
  analyzer-comments/python/pylint/error.md
  analyzer-comments/python/pylint/fatal.md
  analyzer-comments/python/pylint/informatonal.md
  analyzer-comments/python/pylint/refactor.md
  analyzer-comments/python/pylint/warning.md
Labels: track/python, type/analyzer-comments
