Repository exercism/website-copy, pull requests merged in 2021-04, with the labels that each got.

#1954 Update m.json
  mentors/javascript/m.json
Labels: track/javascript, type/mentor-bios

#1958 Add Isaac Good to the Python mentor list
  mentors/python/i.json
Labels: track/python, type/mentor-bios

#1955 Add andrerfcsantos (myself) as Go mentor
  mentors/go/a.json
Labels: track/go, type/mentor-bios

#1957 Python Mentoring Notes: add some talking points
  tracks/python/exercises/matrix/mentoring.md
Labels: track/python, type/mentor-notes

#1960 [Elixir]: Add analyzer comments for the recursion concept exerice exercise `bird-count`
  analyzer-comments/elixir/bird-count/use_recursion.md
Labels: track/elixir, type/analyzer-comments

#1963 Add mentor
  mentors/python/1.json
Labels: track/python, type/mentor-bios

#1964 [Javascript] Add mentor
  mentors/javascript/m.json
Labels: track/javascript, type/mentor-bios

#1965 Added analyzer feedback files for pylint generic comments & edited other comments to conform to spec.
  analyzer-comments/python/general/malformed_code.md
  analyzer-comments/python/general/no_return.md
  analyzer-comments/python/pylint/convention.md
  analyzer-comments/python/pylint/error.md
  analyzer-comments/python/pylint/fatal.md
  analyzer-comments/python/pylint/informatonal.md
  analyzer-comments/python/pylint/refactor.md
  analyzer-comments/python/pylint/warning.md
  analyzer-comments/python/two-fer/conditionals.md
  analyzer-comments/python/two-fer/no_def_arg.md
  analyzer-comments/python/two-fer/no_method.md
  analyzer-comments/python/two-fer/no_module.md
  analyzer-comments/python/two-fer/percent_formatting.md
  analyzer-comments/python/two-fer/simple_concat.md
  analyzer-comments/python/two-fer/wrong_def_arg.md
Labels: track/python, type/analyzer-comments

#1959 Add community notes: Python - Robot Name
  tracks/python/exercises/robot-name/mentoring.md
Labels: track/python, type/mentor-notes

#1969 Add new community mentoring notes: Python RNA Transcription
  tracks/python/exercises/rna-transcription/mentoring.md
Labels: track/python, type/mentor-notes

#1970 added bio to corresponding json file
  mentors/swift/r.json
Labels: track/swift, type/mentor-bios

#1972 added bio
  mentors/python/k.json
Labels: track/python, type/mentor-bios

#1973 Julia: add mentoring notes for bob
  tracks/julia/exercises/bob/mentoring.md
Labels: track/julia, type/mentor-notes

#1974 Python Mentor Bio
  mentors/python/r.json
Labels: track/python, type/mentor-bios

#1961 Added nullpointxr to the n.json mentors file
  mentors/cpp/n.json
Labels: track/cpp, type/mentor-bios
