Repository exercism/website-copy, pull requests merged in 2021-03, with the labels that each got.

#1873 Adjust Paulo bio
  mentors/elixir/p.json
Labels: track/elixir, type/mentor-bios

#1876 scala/space-age: add simple solution
  tracks/scala/exercises/space-age/mentoring.md
Labels: track/scala, type/mentor-notes

#1798 rust/gigasecond: rustfmt and cargo-asm
  tracks/rust/exercises/gigasecond/mentoring.md
Labels: track/rust, type/mentor-notes

#1800 rust/anagram: lifetime explanation
  tracks/rust/exercises/anagram/mentoring.md
Labels: track/rust, type/mentor-notes

#1918 Fix comment format
  analyzer-comments/elixir/general/file_not_found.md
  analyzer-comments/elixir/general/parsing_error.md
  analyzer-comments/elixir/solution/raise_fn_clause_error.md
  analyzer-comments/elixir/solution/use_module_doc.md
  analyzer-comments/elixir/solution/use_specification.md
  analyzer-comments/elixir/take-a-number/do_not_use_abstractions.md
  analyzer-comments/elixir/two-fer/use_default_param.md
  analyzer-comments/elixir/two-fer/use_function_level_guard.md
  analyzer-comments/elixir/two-fer/use_guards.md
  analyzer-comments/elixir/two-fer/use_of_aux_functions.md
  analyzer-comments/elixir/two-fer/use_of_function_header.md
  analyzer-comments/elixir/two-fer/wrong_specification.md
Labels: track/elixir, type/analyzer-comments

#1931 javascript/lasagna: must call preparation time in minutes
  analyzer-comments/javascript/lasagna/must_call_preparation_time_in_minutes.md
Labels: track/javascript, type/analyzer-comments

#1930 javascript/general: add replace magic with identifier
  analyzer-comments/javascript/general/replace_magic_with_identifier.md
Labels: track/javascript, type/analyzer-comments

#1929 javascript/general: add signature changed
  analyzer-comments/javascript/general/signature_changed.md
Labels: track/javascript, type/analyzer-comments

#1928 javascript/general: add function not optimal comment
  analyzer-comments/javascript/general/function_not_optimal.md
Labels: track/javascript, type/analyzer-comments

#1927 javascript/general: add celebratory exemplar solution comment
  analyzer-comments/javascript/general/exemplar_solution.md
Labels: track/javascript, type/analyzer-comments

#1921 Make Elixir mentoring notes ready for v3
  tracks/elixir/exercises/bank-account/mentoring.md
  tracks/elixir/exercises/beer-song/mentoring.md
  tracks/elixir/exercises/bob/mentoring.md
  tracks/elixir/exercises/list-ops/mentoring.md
  tracks/elixir/exercises/rna-transcription/mentoring.md
  tracks/elixir/exercises/robot-simulator/mentoring.md
  tracks/elixir/exercises/roman-numerals/mentoring.md
  tracks/elixir/exercises/word-count/mentoring.md
Labels: track/elixir, type/mentor-notes

#1934 Fix variable interpolation
  analyzer-comments/javascript/general/replace_magic_with_identifier.md
Labels: track/javascript, type/analyzer-comments

#1933 Rename exemplar_solution.md to exemplar.md
  analyzer-comments/javascript/general/exemplar.md
Labels: track/javascript, type/analyzer-comments

#1944 Update mentoring.md
  tracks/csharp/exercises/clock/mentoring.md
Labels: track/csharp, type/mentor-notes

#1948 Adds missing commas to Go analyzer comments
  analyzer-comments/go/general/syntax_error.md
  analyzer-comments/go/two-fer/use_fmt_placeholder_for_string.md
Labels: track/go

#1950 add mentor rslopes
  mentors/elixir/r.json
Labels: track/elixir, type/mentor-bios

#1945 Mentor bio tradfursten
  mentors/java/t.json
Labels: track/java, type/mentor-bios

#1949 Fix labeling analyzer comments
  .github/labeler.yml
Labels: type/ci

#1951 Update i.json
  mentors/dart/i.json
Labels: track/dart, type/mentor-bios

#1952 added Julius Kreutz to java mentors
  mentors/java/j.json
Labels: track/java, type/mentor-bios

#1953 csharp/robot-name
  tracks/csharp/exercises/robot-name/mentoring.md
Labels: track/csharp, type/mentor-notes
