Repository exercism/website-copy, pull requests merged in 2021-11, with the labels that each got.

#2112 Add Elixir analyzer comment: private helper functions
  analyzer-comments/elixir/solution/private_helper_functions.md
Labels: track/elixir, type/analyzer-comments

#2089 Update terms_of_service.md
  pages/terms_of_service.md
Labels: type/copy

#2118 [Elixir] Update analyzer comment about private helper functions
  analyzer-comments/elixir/solution/private_helper_functions.md
Labels: track/elixir, type/analyzer-comments

#2106 Add analyzer comments for Elixir New Passport
  analyzer-comments/elixir/new-passport/do_not_modify_code.md
  analyzer-comments/elixir/new-passport/use_with.md
Labels: track/elixir, type/analyzer-comments

#2119 Markdown links normalized
  tracks/ruby/exercises/clock/mentoring.md
Labels: track/ruby, type/mentor-notes

#2122 Add Elixir top-secret analyzer comments
  analyzer-comments/elixir/top-secret/function_capture.md
  analyzer-comments/elixir/top-secret/function_reuse.md
Labels: track/elixir, type/analyzer-comments

#2121 [Elixir] Update `high-score` Analyzer comment
  analyzer-comments/elixir/high-score/use_default_argument_with_module_attribute.md
  analyzer-comments/elixir/high-score/use_module_attribute.md
Labels: track/elixir, type/analyzer-comments

#2127 Elixir Analyzer comment update: private helper functions
  analyzer-comments/elixir/solution/private_helper_functions.md
Labels: track/elixir, type/analyzer-comments

#2126 Add analyser comment for elixir.solution.unless_with_else
  analyzer-comments/elixir/solution/unless_with_else.md
Labels: track/elixir, type/analyzer-comments

#2128 rust analyzer comments
  analyzer-comments/rust/clock/derive_debug.md
  analyzer-comments/rust/clock/derive_partial_eq.md
  analyzer-comments/rust/clock/impl_display_used.md
  analyzer-comments/rust/clock/improve_format_string.md
  analyzer-comments/rust/clock/only_store_minutes.md
  analyzer-comments/rust/clock/rem_euclid_used.md
  analyzer-comments/rust/clock/use_impl_display.md
  analyzer-comments/rust/clock/use_rem_euclid.md
  analyzer-comments/rust/general/direct_return_expression.md
  analyzer-comments/rust/general/literal_with_underscore_used.md
  analyzer-comments/rust/general/perfect.md
  analyzer-comments/rust/general/solution_file_not_found.md
  analyzer-comments/rust/general/solution_function_not_found.md
  analyzer-comments/rust/general/sort_use_elements.md
  analyzer-comments/rust/general/use_literal_with_underscore.md
  analyzer-comments/rust/gigasecond/add_duration.md
  analyzer-comments/rust/gigasecond/checked_overflow.md
  analyzer-comments/rust/gigasecond/literal_instead_of_pow.md
  analyzer-comments/rust/gigasecond/plus_operator_used.md
  analyzer-comments/rust/gigasecond/use_plus_operator.md
Labels: track/rust, type/analyzer-comments

#2125 Add Elixir analyzer comment for common check: function capture
  analyzer-comments/elixir/solution/use_function_capture.md
Labels: track/elixir, type/analyzer-comments

#2129 Remove unused Elixir Top Secret analyzer comment
  analyzer-comments/elixir/top-secret/function_capture.md
Labels: track/elixir, type/analyzer-comments

#2130 Add Elixir high-school-sweetheart multiline string comment
  analyzer-comments/elixir/high-school-sweetheart/multiline_string.md
Labels: track/elixir, type/analyzer-comments

#2133 rust: fix escaping in use_rem_euclid analyzer comment
  analyzer-comments/rust/clock/use_rem_euclid.md
Labels: track/rust, type/analyzer-comments

#2136 Remove myself from mentor list
  mentors/python/t.json
Labels: track/python, type/mentor-bios

#2137 Fix Elixir Captain's Log analyzer comment
  analyzer-comments/elixir/captains-log/use_rand_uniform.md
Labels: track/elixir, type/analyzer-comments

#2138 Add deprecated `:random` Elixir analyzer comment
  analyzer-comments/elixir/solution/deprecated_random_module.md
Labels: track/elixir, type/analyzer-comments

#2113 Add new mentoring notes for python/phone-number
  tracks/python/exercises/phone-number/mentoring.md
Labels: track/python, type/mentor-notes

#2111 New mentoring notes: python dnd-character
  tracks/python/exercises/dnd-character/mentoring.md
Labels: track/python, type/mentor-notes
