Repository exercism/website-copy, pull requests merged in 2021-07, with the labels that each got.

#2012 Adding mentor for Ayaan
  mentors/python/c.json
Labels: track/python, type/mentor-bios

#2014 Add analyzer comments for Elixir lasagna
  analyzer-comments/elixir/lasagna/function_reuse.md
Labels: track/elixir, type/analyzer-comments

#2013 Add analyzer comments for Elixir high-score
  analyzer-comments/elixir/high-score/use_default_argument_with_module_attribute.md
  analyzer-comments/elixir/high-score/use_module_attribute.md
Labels: track/elixir, type/analyzer-comments

#2016 Fix typo in CoC
  pages/code_of_conduct.md
Labels: type/copy

#2019 Elixir analyzer comments for common checks
  analyzer-comments/elixir/solution/function_name_snake_case.md
  analyzer-comments/elixir/solution/module_attribute_name_snake_case.md
Labels: track/elixir, type/analyzer-comments

#2020 Description for Elixir analyzer check: module names in PascalCase
  analyzer-comments/elixir/solution/module_pascal_case.md
Labels: track/elixir, type/analyzer-comments

#2021 Description for Elixir analyzer check: variable names in snake_case
  analyzer-comments/elixir/solution/variable_name_snake_case.md
Labels: track/elixir, type/analyzer-comments

#2022 Removed extra 'the'
  tracks/python/exercises/word-count/mentoring.md
Labels: track/python, type/mentor-notes

#2024 Description for Elixir analyzer check: square-root
  analyzer-comments/elixir/square-root/do_not_use_built_in_sqrt.md
Labels: track/elixir, type/analyzer-comments

#2025 Updating C++ track with my own name
  mentors/cpp/m.json
Labels: track/cpp, type/mentor-bios

#2026 added mentor profile to js track
  mentors/javascript/a.json
Labels: track/javascript, type/mentor-bios

#2027 Update s.json
  mentors/csharp/s.json
Labels: track/csharp, type/mentor-bios

#2028 added python mentor bio
  mentors/python/a.json
Labels: track/python, type/mentor-bios

#2029 julia: Correct secret-handshake mentoring notes
  tracks/julia/exercises/secret-handshake/mentoring.md
Labels: track/julia, type/mentor-notes

#2030 Description for Elixir analyzer check: `name-badge`
  analyzer-comments/elixir/name-badge/use_if.md
Labels: track/elixir, type/analyzer-comments

#2032 Update t.json
  mentors/prolog/t.json
Labels: track/prolog, type/mentor-bios
