Repository exercism/website-copy, pull requests merged in 2021-12, with the labels that each got.

#2098 Add analyzer comments for elixir doc_spec_order common check
  analyzer-comments/elixir/solution/function_annotation_order.md
Labels: track/elixir, type/analyzer-comments

#2140 Adding Elixir Analyzer comment for `remote-control-car`
  analyzer-comments/elixir/remote-control-car/use_default_argument.md
  analyzer-comments/elixir/two-fer/use_default_param.md
Labels: track/elixir, type/analyzer-comments

#2110 New mentoring notes: python armstrong-numbers
  tracks/python/exercises/armstrong-numbers/mentoring.md
Labels: track/python, type/mentor-notes

#2141 Use reference links for Python mentoring notes
  tracks/python/exercises/armstrong-numbers/mentoring.md
  tracks/python/exercises/bob/mentoring.md
  tracks/python/exercises/high-scores/mentoring.md
  tracks/python/exercises/leap/mentoring.md
  tracks/python/exercises/rna-transcription/mentoring.md
  tracks/python/exercises/two-fer/mentoring.md
Labels: track/python, type/mentor-notes

#2142 added comment for the dna-encoding on the Elixir track
  analyzer-comments/elixir/dna-encoding/bird-count/use_recursion.md
Labels: track/elixir, type/analyzer-comments

#2143 Move Elixir comment file
  analyzer-comments/elixir/dna-encoding/use_recursion.md
Labels: x:size/tiny, track/elixir, type/analyzer-comments

#2144 Add copy for JS Elyses Analytic Enchantments
  analyzer-comments/javascript/elyses-analytic-enchantments/must_avoid_imperative_loop.md
  analyzer-comments/javascript/general/prefer_built_in_method.md
Labels: track/javascript, type/analyzer-comments
