Repository exercism/website-copy, pull requests merged in 2021-05, with the labels that each got.

#1975 Elixir analyzer comments - fix comment syntax
  analyzer-comments/elixir/general/file_not_found.md
  analyzer-comments/elixir/general/parsing_error.md
  analyzer-comments/elixir/solution/raise_fn_clause_error.md
  analyzer-comments/elixir/solution/use_module_doc.md
  analyzer-comments/elixir/solution/use_specification.md
  analyzer-comments/elixir/two-fer/use_default_param.md
  analyzer-comments/elixir/two-fer/use_function_level_guard.md
  analyzer-comments/elixir/two-fer/use_guards.md
  analyzer-comments/elixir/two-fer/use_of_aux_functions.md
  analyzer-comments/elixir/two-fer/use_of_function_header.md
  analyzer-comments/elixir/two-fer/wrong_specification.md
Labels: track/elixir, type/analyzer-comments

#1976 add new mentor to scala track
  mentors/scala/m.json
Labels: track/scala, type/mentor-bios

#1977 Add Mentor to Go and Kotlin
  mentors/go/w.json
  mentors/kotlin/w.json
Labels: track/go, track/kotlin, type/mentor-bios

#1978 Added python mentor sakshamakagautam
  mentors/python/s.json
Labels: track/python, type/mentor-bios

#1980 Add myself as a Swift mentor
  mentors/swift/r.json
Labels: track/swift, type/mentor-bios

#1981 Add mentor bio for Bassel17
  mentors/javascript/b.json
Labels: track/javascript, type/mentor-bios

#1982 Fix spelling and punctuation
  tracks/javascript/exercises/space-age/mentoring.md
Labels: track/javascript, type/mentor-notes

#1966 typescript/general: Add more general comments for typescript
  analyzer-comments/typescript/general/error_captured_no_source.md
  analyzer-comments/typescript/general/exemplar.md
  analyzer-comments/typescript/general/function_not_optimal.md
  analyzer-comments/typescript/general/replace_magic_with_identifier.md
  analyzer-comments/typescript/general/signature_changed.md
Labels: track/typescript, type/analyzer-comments

#758 kotlin/Add a possible solution for bank account
  tracks/kotlin/exercises/bank-account/mentoring.md
Labels: track/kotlin, type/mentor-notes

#1983 Added n0rdy to Java mentors list
  mentors/java/n.json
Labels: track/java, type/mentor-bios

#1985 Update v.json
  mentors/cpp/v.json
Labels: track/cpp, type/mentor-bios

#1986 Update mentoring.md
  tracks/julia/exercises/raindrops/mentoring.md
Labels: track/julia, type/mentor-notes

#1990 [Elixir] Add analyzer comment for freelancer-rates
  analyzer-comments/elixir/freelancer-rates/apply_discount_function_reuse.md
Labels: track/elixir, type/analyzer-comments

#1991 [Elixir] Add analyzer comment for boutique-suggestions
  analyzer-comments/elixir/boutique-suggestions/use_list_comprehensions.md
Labels: track/elixir, type/analyzer-comments

#1992 [Elixir] Add analyzer comments for german-sysadmin
  analyzer-comments/elixir/german-sysadmin/no_string.md
  analyzer-comments/elixir/german-sysadmin/use_case.md
Labels: track/elixir, type/analyzer-comments

#1993 adding mentor avocadohooman
  mentors/c/a.json
Labels: track/c, type/mentor-bios

#1995 Updated link to my personal website
  mentors/javascript/a.json
Labels: track/javascript, type/mentor-bios

#1989 [Ruby] Fix error in two-fer analyzer comment
  analyzer-comments/ruby/two-fer/string_interpolation.md
Labels: track/ruby, type/analyzer-comments
