Repository exercism/website-copy, pull requests merged in 2021-09, with the labels that each got.

#2050 [Python] Analyzer Comments Syntax & Formatting
  analyzer-comments/python/pylint/convention.md
  analyzer-comments/python/pylint/error.md
  analyzer-comments/python/pylint/fatal.md
  analyzer-comments/python/pylint/informatonal.md
  analyzer-comments/python/pylint/refactor.md
  analyzer-comments/python/pylint/warning.md
  analyzer-comments/python/two-fer/conditionals.md
  analyzer-comments/python/two-fer/no_def_arg.md
  analyzer-comments/python/two-fer/percent_formatting.md
  analyzer-comments/python/two-fer/simple_concat.md
  analyzer-comments/python/two-fer/wrong_def_arg.md
Labels: track/python, type/analyzer-comments

#2054 Add analyzer comments for Elixir chessboard
  analyzer-comments/elixir/chessboard/change_codepoint_to_string_directly.md
  analyzer-comments/elixir/chessboard/function_reuse.md
Labels: track/elixir, type/analyzer-comments

#2005 fix broken links
  pages/become_a_maintainer.md
Labels: type/copy

#2061 Create mentoring notes: py space age
  tracks/python/exercises/space-age/mentoring.md
Labels: track/python, type/mentor-notes

#2059 javascript: analyzer general no_value_returned.md
  analyzer-comments/javascript/general/no_value_returned.md
Labels: track/javascript, type/analyzer-comments

#2055 elixir: Update variable_name_snake_case.md
  analyzer-comments/elixir/solution/function_name_snake_case.md
  analyzer-comments/elixir/solution/module_attribute_name_snake_case.md
  analyzer-comments/elixir/solution/module_pascal_case.md
  analyzer-comments/elixir/solution/variable_name_snake_case.md
Labels: track/elixir, type/analyzer-comments

#2065 julia: Add mentoring notes for roman numerals
  tracks/julia/exercises/roman-numerals/mentoring.md
Labels: track/julia, type/mentor-notes

#2066 Add mentoring notes for common-lisp roman-numerals
  tracks/common-lisp/exercises/roman-numerals.md
Labels: track/common-lisp, type/mentor-notes

#2064 [Hotfix] % need escaping
  analyzer-comments/python/two-fer/percent_formatting.md
Labels: track/python, type/analyzer-comments

#2071 Description for Elixir analyzer check: `IO.inspect`
  analyzer-comments/elixir/solution/debug_functions.md
Labels: track/elixir, type/analyzer-comments

#2070 Matrix solution: complete type annotation; format indentation
  tracks/python/exercises/matrix/mentoring.md
Labels: track/python, type/mentor-notes

#2072 Add `use_map_update` comment to Elixir high-score
  analyzer-comments/elixir/high-score/use_map_update.md
Labels: track/elixir, type/analyzer-comments

#2073 Add `use_cond` analyzer comment to Elixir log-level
  analyzer-comments/elixir/log-level/use_cond.md
Labels: track/elixir, type/analyzer-comments

#2074 Add `do_not_use_enum` analyzer comment to Elixir language-list
  analyzer-comments/elixir/language-list/do_not_use_enum.md
Labels: track/elixir, type/analyzer-comments

#2075 Elixir Analyzer Comment: last line assignment
  analyzer-comments/elixir/solution/last_line_assignment.md
Labels: track/elixir, type/analyzer-comments

#2077 Add analyzer comment for Elixir Leap (erlang-calendar)
  analyzer-comments/elixir/leap/erlang-calendar.md
Labels: track/elixir, type/analyzer-comments

#2082 Missing colon for regular expression "token".
  tracks/ruby/exercises/acronym/mentoring.md
Labels: track/ruby, type/mentor-notes

#2062 typescript/two-fer: Exercise no-longer has class
  tracks/typescript/exercises/two-fer/mentoring.md
Labels: track/typescript, type/mentor-notes

#2081 Elixir Analyzer Comment: same solution as exemplar
  analyzer-comments/elixir/solution/same_as_exemplar.md
Labels: track/elixir, type/analyzer-comments

#2085 Add bash analyzer comment template
  analyzer-comments/bash/shellcheck/generic.md
Labels: track/bash, type/analyzer-comments

#2086 Add new analyzer comment for Elixir `newsletter`
  analyzer-comments/elixir/newsletter/log_sent_email_prefer_io_puts.md
Labels: track/elixir, type/analyzer-comments

#2087 Add new analyzer comment for Elixir: compiler warnings
  analyzer-comments/elixir/solution/compiler_warnings.md
Labels: track/elixir, type/analyzer-comments
