Repository exercism/website-copy, pull requests merged in 2021-06, with the labels that each got.

#1997 Revert "🤖 Sync org-wide files to upstream repo"
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: type/ci

#1998 [Elixir] Add `guessing-game` analyzer comments
  analyzer-comments/elixir/guessing-game/use_default_argument.md
  analyzer-comments/elixir/guessing-game/use_guards.md
  analyzer-comments/elixir/guessing-game/use_multiple_clause_functions.md
  analyzer-comments/elixir/two-fer/use_default_param.md
Labels: track/elixir, type/analyzer-comments

#1999 Update s.json
  mentors/python/s.json
Labels: track/python, type/mentor-bios

#2000 Update y.json
  mentors/typescript/y.json
Labels: track/typescript, type/mentor-bios

#2001 🤖 Update labels
  .appends/.github/labels.yml
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: type/ci, v3-migration 🤖

#2002 Add mentor bio for abhinandval
  mentors/dart/a.json
Labels: track/dart, type/mentor-bios

#2004 [Elixir]: Add analyzer comments for the recursion concept exercise accumulate
  analyzer-comments/elixir/accumulate/use_recursion.md
Labels: track/elixir, type/analyzer-comments

#1796 rust/clock: struct literals vs new
  tracks/rust/exercises/clock/mentoring.md
Labels: track/rust, type/mentor-notes

#1906 csharp/hamming
  tracks/csharp/exercises/hamming/mentoring.md
Labels: track/csharp, type/mentor-notes

#1941 perl5/two-fer: Create mentoring.md
  tracks/perl5/two-fer/mentoring.md
Labels: track/perl5

#2006 Added mentor bio for chayan
  mentors/python/c.json
Labels: track/python, type/mentor-bios

#2007 Escape % in elixir/pacman-rules
  analyzer-comments/elixir/pacman-rules/use_strictly_boolean_operators.md
Labels: track/elixir, type/analyzer-comments

#2008 Update mentoring.md
  tracks/csharp/exercises/allergies/mentoring.md
Labels: track/csharp, type/mentor-notes

#2010 add mentor bio for kalindkaria
  mentors/bash/k.json
Labels: track/bash, type/mentor-bios
