Repository exercism/website-copy, pull requests merged in 2022-02, with the labels that each got.

#2156 [sublist] Correct spelling mistake in mentoring notes
  tracks/python/exercises/sublist/mentoring.md
Labels: x:size/tiny, track/python, type/mentor-notes

#2158 Update JS use_if_else
  analyzer-comments/javascript/vehicle-purchase/use_if_else.md
Labels: x:size/tiny, track/javascript, type/analyzer-comments

#2159 [Bob] sync mentor notes with problem-specifications.
  tracks/python/exercises/bob/mentoring.md
Labels: x:size/small, track/python, type/mentor-notes

#2163 elixir/analyzer: add'l context for German Sysadmin warning about String functions
  analyzer-comments/elixir/german-sysadmin/no_string.md
Labels: track/elixir, type/analyzer-comments

#2139 java/difference of squares update mentoring notes
  tracks/java/exercises/difference-of-squares/mentoring.md
Labels: track/java, type/mentor-notes
