Repository exercism/website-copy, pull requests merged in 2022-04, with the labels that each got.

#2184 Add label for the new ABAP track
  .appends/.github/labels.yml
  .github/labeler.yml
Labels: x:size/tiny, type/ci

#2180 Add Elm Analyzer comments for common rules: `NoUnused` and `Simplify`
  analyzer-comments/elm/common/no_unused/custom_type_constructor_args.md
  analyzer-comments/elm/common/no_unused/custom_type_constructors.md
  analyzer-comments/elm/common/no_unused/parameters.md
  analyzer-comments/elm/common/no_unused/patterns.md
  analyzer-comments/elm/common/no_unused/variables.md
  analyzer-comments/elm/common/simplify.md
Labels: track/elm, type/analyzer-comments

#2187 [Bob]: removed extra 'the' and added a comma
  tracks/python/exercises/bob/mentoring.md
Labels: x:size/small, track/python, type/mentor-notes
