Repository exercism/website-copy, pull requests merged in 2022-06, with the labels that each got.

#2194 Add analyzer comments for Elixir basketball-website
  analyzer-comments/elixir/basketball-website/get_in.md
  analyzer-comments/elixir/basketball-website/no_explicit_nil.md
  analyzer-comments/elixir/basketball-website/no_map.md
Labels: track/elixir, type/analyzer-comments

#2186 Add Elm Analyzer comment: `bettys-bike-shop`
  analyzer-comments/elm/bettys-bike-shop/import_string.md
  analyzer-comments/elm/bettys-bike-shop/use_signature.md
Labels: x:size/small, track/elm, type/analyzer-comments

#2174 python/gigasecond: add new mentoring notes
  tracks/python/exercises/gigasecond/mentoring.md
Labels: track/python, type/mentor-notes

#2204 Typo: change focusses to focuses
  pages/values.md
Labels: type/copy, x:rep/tiny
