Repository exercism/website-copy, pull requests merged in 2022-09, with the labels that each got.

#2217 Add F# track mentoring notes
  tracks/fsharp/mentoring.md
Labels: track/fsharp

#2218 Elixir captains-log: Separate "use" and "do not use" comments
  analyzer-comments/elixir/captains-log/do_not_use_enum_random.md
  analyzer-comments/elixir/captains-log/do_not_use_rand_uniform_real.md
  analyzer-comments/elixir/captains-log/use_rand_uniform.md
Labels: track/elixir, type/analyzer-comments

#2219 Elixir new passport: add new comment about `with` with `else`
  analyzer-comments/elixir/new-passport/use_with_else.md
Labels: track/elixir, type/analyzer-comments

#2226 [Privacy page]: Single sentence and small typo changes
  pages/privacy.md
Labels: x:type/docs, type/copy

#2212 CSharp mentoring notes on Diffie Hellman
  tracks/csharp/exercises/diffie-hellman/mentoring.md
Labels: track/csharp, type/mentor-notes

#2224 Add copy for Top Scorers concept exercise, automated analysis, for Elm track
  analyzer-comments/elm/top-scorers/dont_use_sort.md
  analyzer-comments/elm/top-scorers/use_filter.md
  analyzer-comments/elm/top-scorers/use_foldl_and_updateGoalCountForPlayer.md
  analyzer-comments/elm/top-scorers/use_insert.md
  analyzer-comments/elm/top-scorers/use_merge.md
  analyzer-comments/elm/top-scorers/use_withDefault.md
Labels: track/elm, type/analyzer-comments
