Repository exercism/website-copy, pull requests merged in 2022-07, with the labels that each got.

#2206 added mentor notes for grains
  tracks/go/exercises/grains/mentoring.md
Labels: track/go, type/mentor-notes, x:rep/medium

#2175 python/matching-brackets: new mentoring notes
  tracks/python/exercises/matching-brackets/mentoring.md
Labels: track/python, type/mentor-notes

#2208 Create mentoring.md for python/saddle-points
  tracks/python/exercises/saddle-points/mentoring.md
Labels: track/python, type/mentor-notes

#2209 Fix Elixir high-score use Map.update/4 comment
  analyzer-comments/elixir/high-score/use_map_update.md
Labels: track/elixir, type/analyzer-comments
