Repository exercism/website-copy, pull requests merged in 2022-03, with the labels that each got.

#2162 julia/mentoring: Super tiny formatting updates
  tracks/julia/exercises/phone-number/mentoring.md
  tracks/julia/exercises/raindrops/mentoring.md
Labels: x:size/tiny, track/julia, type/mentor-notes

#2166 Add an additional suggestion to Python/kindergarten-garden
  tracks/python/exercises/kindergarten-garden/mentoring.md
Labels: x:size/small, track/python, type/mentor-notes

#2058 java/bird-watcher: Add a simple mentoring guide
  tracks/java/exercises/bird-watcher/mentoring.md
Labels: track/java, type/mentor-notes

#2170 Style adjustments
  tracks/java/exercises/isogram/mentoring.md
Labels: track/java, type/mentor-notes

#2169 python/grains: add mentoring notes
  tracks/python/exercises/grains/mentoring.md
Labels: track/python, type/mentor-notes

#2172 python/series: add new mentoring notes
  tracks/python/exercises/series/mentoring.md
Labels: track/python, type/mentor-notes

#2168 python/isbn-verifier: add mentor notes
  tracks/python/exercises/isbn-verifier/mentoring.md
Labels: track/python, type/mentor-notes

#2171 python/grains: mentoring doc improvements
  tracks/python/exercises/grains/mentoring.md
Labels: track/python, type/mentor-notes

#2173 python/darts: add new mentoring notes
  tracks/python/exercises/darts/mentoring.md
Labels: track/python, type/mentor-notes

#2178 Add new analyzer comment for bash
  analyzer-comments/bash/general/boilerplate_comment.md
Labels: track/bash, type/analyzer-comments

#2104 [Elixir] Add 2 more comments to boutique-inventory analyzer
  analyzer-comments/elixir/boutique-inventory/increase_quantity_best_function_choice.md
  analyzer-comments/elixir/boutique-inventory/use_enum_map.md
Labels: track/elixir, type/analyzer-comments
