Repository exercism/website-copy, pull requests merged in 2023-06, with the labels that each got.

#2260 Fixed typo
  tracks/python/exercises/isbn-verifier/mentoring.md
Labels: track/python, type/mentor-notes, x:rep/tiny

#2259 docs: link directly to metioned functions
  tracks/python/exercises/isbn-verifier/mentoring.md
Labels: track/python, type/mentor-notes

#2261 Adjust language of `use @impl` comment to include `@impl true`
  analyzer-comments/elixir/take-a-number-deluxe/annotate_impl_genserver.md
Labels: track/elixir, type/analyzer-comments
