Repository exercism/website-copy, pull requests merged in 2023-09, with the labels that each got.

#2266 Fix typo
  tracks/fsharp/mentoring.md
Labels: track/fsharp

#2267 Fix some typos
  tracks/typescript/exercises/space-age/mentoring.md
Labels: x:size/tiny, track/typescript, type/mentor-notes, x:rep/tiny

#2268 Add crystal-lang analyzer comments
  analyzer-comments/crystal/ameba/convention.md
  analyzer-comments/crystal/ameba/error.md
  analyzer-comments/crystal/ameba/warning.md
  analyzer-comments/crystal/general/reuse.md
  analyzer-comments/crystal/general/same_as_exemplar.md
  analyzer-comments/crystal/navigation-computer/to_i.md
  analyzer-comments/crystal/sieve/do_not_use_div_rem.md
  analyzer-comments/crystal/two-fer/incorrect_default_param.md
  analyzer-comments/crystal/two-fer/string_concatenation.md
Labels: track/crystal, type/analyzer-comments
