Repository exercism/website-copy, pull requests merged in 2024-01, with the labels that each got.

#2313 [Crystal analyzer 1.1.2]: Fix link in leap analyzation
  analyzer-comments/crystal/leap/use-is-divisable_by.md
Labels: track/crystal, type/analyzer-comments

#2311 add mentoring notes for go/pig-latin
  tracks/go/exercises/pig-latin/mentoring.md
Labels: track/go, type/mentor-notes

#2314 Add comments for the Java analyzer
  analyzer-comments/java/general/avoid_print_statements.md
  analyzer-comments/java/general/do_not_use_main_method.md
  analyzer-comments/java/general/feedback_request.md
Labels: track/java, type/analyzer-comments

#2317 Add analyzer comments for Lasagna on the Java track
  analyzer-comments/java/general/exemplar.md
  analyzer-comments/java/general/remove_todo_comments.md
  analyzer-comments/java/lasagna/reuse_code.md
Labels: track/java, type/analyzer-comments
