Repository exercism/website-copy, pull requests merged in 2024-02, with the labels that each got.

#2309 Create mentoring.md
  tracks/typescript/exercises/etl/etl/mentoring.md
Labels: track/typescript

#2323 Add Java analyzer comments for Annalyns Infiltration
  analyzer-comments/java/annalyns-infiltration/avoid_boolean_literal_returns.md
  analyzer-comments/java/annalyns-infiltration/avoid_comparison_with_literal.md
  analyzer-comments/java/annalyns-infiltration/avoid_if_statements.md
  analyzer-comments/java/annalyns-infiltration/some_parentheses_are_redundant.md
Labels: track/java, type/analyzer-comments

#2326 Removing unnecessary analyzer comments for ``Hamming`` and ``Two-Fer`` exercises
  analyzer-comments/java/hamming/avoid_character_literals.md
  analyzer-comments/java/hamming/calculate_distance_in_constructor.md
  analyzer-comments/java/hamming/must_calculate_hamming_distance.md
  analyzer-comments/java/hamming/must_throw_in_constructor.md
  analyzer-comments/java/hamming/must_use_conditional_logic_in_constructor.md
  analyzer-comments/java/hamming/must_use_constructor.md
  analyzer-comments/java/hamming/must_use_string_char_at_or_code_point_at.md
  analyzer-comments/java/hamming/should_use_stream_filter_and_count.md
  analyzer-comments/java/hamming/should_use_string_is_empty.md
  analyzer-comments/java/two-fer/use_conditional_logic.md
Labels: track/java, type/analyzer-comments

#1188 rust/bob: Make code simpler and more concise.
  tracks/rust/exercises/bob/mentoring.md
Labels: track/rust, type/mentor-notes

#1517 Add mentoring notes for Rust Circular Buffer exercise
  tracks/rust/exercises/circular-buffer/mentoring.md
Labels: track/rust, type/mentor-notes

#1551 CPP: Add mentoring notes for space-age
  tracks/cpp/exercises/space-age/mentoring.md
Labels: track/cpp, type/mentor-notes

#1709 rust/macros: Adjust for tests where the macro is not brought into scope
  tracks/rust/exercises/macros/mentoring.md
Labels: track/rust, type/mentor-notes

#1940 Update Haskell track Pangram exercise mentoring notes.
  tracks/haskell/exercises/pangram/mentoring.md
Labels: track/haskell, type/mentor-notes

#1988 java/gigasecond: Update mentoring.md
  tracks/java/exercises/gigasecond/mentoring.md
Labels: track/java, type/mentor-notes

#2069 feat: :memo: add mentor notes for javascript/triangle
  tracks/javascript/exercises/triangle/mentoring.md
Labels: x:size/small, x:module/practice-exercise, track/javascript, type/mentor-notes

#2116 Update mentor notes Kotlin/Scrabble Score
  tracks/kotlin/exercises/scrabble-score/mentoring.md
Labels: track/kotlin, type/mentor-notes

#2132 Add mentor notes Kotlin/Anagram
  tracks/kotlin/exercises/anagram/mentoring.md
Labels: track/kotlin, type/mentor-notes

#2191 [Clojure]: reverse-string: Mentor note update
  tracks/clojure/exercises/reverse-string/mentoring.md
Labels: track/clojure, type/mentor-notes

#2211 Create mentoring.md for Say
  tracks/python/exercises/say/mentoring.md
Labels: track/python, type/mentor-notes

#2222 Dart scrabble-score: Create mentoring.md
  tracks/dart/exercises/scrabble-score/mentoring.md
Labels: track/dart, type/mentor-notes

#2223 Dart armstrong-numbers: Create mentoring.md
  tracks/dart/exercises/armstrong-numbers/mentoring.md
Labels: track/dart, type/mentor-notes

#2244 replace unmaintained cargo-asm with cargo-show-asm
  tracks/rust/exercises/gigasecond/mentoring.md
Labels: track/rust, type/mentor-notes

#2305 Add mentoring notes for Java/Pangram
  tracks/java/exercises/pangram/pangram/mentoring.md
Labels: track/java

#1870 cpp/leap
  tracks/cpp/exercises/leap/mentoring.md
Labels: track/cpp, type/mentor-notes

#2214 [csharp/anagram] A reasonable solution for the anagram
  tracks/csharp/exercises/anagram/mentoring.md
Labels: track/csharp, type/mentor-notes

#2246 [java/matrix] Fix issues with Java matrix mentoring notes
  tracks/java/exercises/matrix/mentoring.md
Labels: track/java, type/mentor-notes

#2324 [typescript/rna-transcription] Update mentoring.md
  tracks/typescript/exercises/rna-transcription/mentoring.md
Labels: track/typescript, type/mentor-notes

#2325 Add java analyzer comments for ``Need For Speed``
  analyzer-comments/java/need-for-speed/avoid_conditional_logic.md
  analyzer-comments/java/need-for-speed/avoid_loops.md
Labels: track/java, type/analyzer-comments

#2327 Elixir general feedback comment: mention mentoring
  analyzer-comments/elixir/general/feedback_request.md
Labels: track/elixir, type/analyzer-comments

#2328 Adding analyzer comments for Log Levels
  analyzer-comments/java/annalyns-infiltration/avoid_boolean_literal_returns.md
  analyzer-comments/java/annalyns-infiltration/avoid_comparison_with_literal.md
  analyzer-comments/java/annalyns-infiltration/avoid_if_statements.md
  analyzer-comments/java/annalyns-infiltration/some_parentheses_are_redundant.md
  analyzer-comments/java/general/constructor_too_long.md
  analyzer-comments/java/general/prefer_string_concatenation.md
  analyzer-comments/java/general/reuse_code.md
  analyzer-comments/java/log-levels/use_substring_method.md
  analyzer-comments/java/two-fer/use_ternary_operator.md
Labels: track/java, type/analyzer-comments
