Repository exercism/website-copy, pull requests merged in 2025-01, with the labels that each got.

#2361 Create mentoring.md for Triangle exercise
  tracks/csharp/exercises/triangle/triangle/mentoring.md
Labels: track/csharp

#2367 Remove elixirformatter.com from Elixir analyzer
  analyzer-comments/elixir/solution/indentation.md
Labels: track/elixir, type/analyzer-comments

#2364 Updated mentoring.md for Wizard-and-Warriors exercise
  tracks/csharp/exercises/wizards-and-warriors/mentoring.md
Labels: track/csharp, type/mentor-notes
